<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Derivados Financieros y Riesgos</title>
	<link rel="stylesheet" href="../style.css">
</head>

<body>
	<article class="page sans">
		<header><img class="page-cover-image" src="../assets/header.jpg" style="object-position:center 77.99000000000001%" />
			<div class="nav-button">
				<button onclick="window.history.back()">← Regresar</button>
			</div>
			<div class="page-header-icon page-header-icon-with-cover"><img class="icon" src="../assets/icon.png" />
			</div>
			<h1 class="page-title" dir="auto">Derivados Financieros y Riesgos (No empezado)</h1>
			<p class="page-description" dir="auto"></p>
		</header>
		<div class="page-body"></div>
	</article><span class="sans" style="font-size:14px;padding-top:2em"></span>
</body>

</html>