<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Ética</title>
	<link rel="icon" type="image/png" href="../assets/icon.png" />
	<link rel="stylesheet" href="../style.css">
</head>

<body>
	<article class="page sans">
		<header><img class="page-cover-image" src="../assets/header.jpg" style="object-position:center 88.23%" />
			<div class="nav-button">
				<button onclick="window.history.back()">← Regresar</button>
			</div>
			<div class="page-header-icon page-header-icon-with-cover"><img class="icon" src="../assets/icon.png" />
			</div>
			<h1 class="page-title" dir="auto">Ética</h1>
			<p class="page-description" dir="auto"></p>
		</header>
		<div class="page-body">
			<div style="display:contents" dir="auto">
				<details close="">
					<summary style="font-weight:600;font-size:1.875em;line-height:1.3;margin:0">1. Ética General
					</summary>
					<div class="indented">
						<div style="display:contents" dir="auto">
							<h2 class="">1.1 Ética </h2>
						</div>
						<div style="display:contents" dir="auto">
							<p class=""><strong>Ética:</strong> Ciencia que
								estudia si los actos humanos son buenos o malos según la razón</p>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc"><strong>Objeto material / general:</strong> Actos
									humanos</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc"><strong>Objeto formal / especifico: </strong>Lo que
									hace que esos actos sean buenos o malos</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<p class=""><strong>Moral</strong>: Conjunto de
								normas y costumbres sociales</p>
						</div>
						<div style="display:contents" dir="auto">
							<p class=""><strong>Legalidad</strong>:
								Cumplimiento obligatorio de la ley, externo y coercible</p>
						</div>
						<div style="display:contents" dir="auto">
							<hr />
						</div>
						<div style="display:contents" dir="auto">
							<h2 class="">1.2 Actos</h2>
						</div>
						<div style="display:contents" dir="auto">
							<p class=""><strong>Actos humanos</strong>:
								Acciones libres, racionales y voluntarias</p>
						</div>
						<div style="display:contents" dir="auto">
							<p class=""><strong>Actos del hombre</strong>:
								Acciones no libres, no racionales y no voluntarias. (necesidades básicas)</p>
						</div>
						<div style="display:contents" dir="auto">
							<hr />
						</div>
						<div style="display:contents" dir="auto">
							<h2 class="">1.3 Acto Humano</h2>
						</div>
						<div style="display:contents" dir="auto">
							<h3 class="">Elementos del Acto Humano</h3>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc"><strong>Fin</strong>: Intención del sujeto</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc"><strong>Objeto</strong>: La accion realizada</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc"><strong>Circunstancias</strong>: Condiciones externas
									que rodean el acto</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<h3 class="">Propiedades del acto humano</h3>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Libertad: Capacidad de elegir</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Responsabilidad: Asumir consecuencias del acto</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<hr />
						</div>
						<div style="display:contents" dir="auto">
							<h2 class="">1.4 Conceptos Básicos </h2>
						</div>
						<div style="display:contents" dir="auto">
							<p class=""><strong>Justicia</strong>: Dar a cada
								quien lo que le corresponde</p>
						</div>
						<div style="display:contents" dir="auto">
							<p class=""><strong>Equidad</strong>: Ajustar la
								<span style="border-bottom:0.05em solid">justicia </span>según la proporción del acto
								realizado
							</p>
						</div>
						<div style="display:contents" dir="auto">
							<p class=""><strong>Principios</strong>: Razones
								básicas que guían la conducta
							<div class="indented">
								<div style="display:contents" dir="auto">
									<ul class="bulleted-list">
										<li style="list-style-type:disc">Son universales y aplicables a cualquier
											profesión </li>
									</ul>
								</div>
							</div>
							</p>
						</div>
						<div style="display:contents" dir="auto">
							<p class=""><strong>Valores</strong>: Conjunto de
								principios
							<div class="indented">
								<div style="display:contents" dir="auto">
									<ul class="bulleted-list">
										<li style="list-style-type:disc">Es todo aquello que determina una preferencia
											en la elección</li>
									</ul>
								</div>
							</div>
							</p>
						</div>
						<div style="display:contents" dir="auto">
							<p class=""><strong>Bien</strong>: Aquello que
								beneficia y mejora a la persona o cosa</p>
						</div>
						<div style="display:contents" dir="auto">
							<p class=""><strong>Virtud</strong>: Habito de
								hacer el bien</p>
						</div>
						<div style="display:contents" dir="auto">
							<hr />
						</div>
						<div style="display:contents" dir="auto">
							<h2 class="">1.5 Norma</h2>
						</div>
						<div style="display:contents" dir="auto">
							<p class=""><strong>Norma</strong>: Regla de
								conducta que busca preservar el orden social</p>
						</div>
						<div style="display:contents" dir="auto">
							<h3 class="">Tipos de normas</h3>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Normas Éticas<div style="display:contents" dir="auto">
										<ul class="bulleted-list">
											<li style="list-style-type:circle"><strong>Autónomas</strong>: Nacen de la
												propia conciencia</li>
										</ul>
									</div>
									<div style="display:contents" dir="auto">
										<ul class="bulleted-list">
											<li style="list-style-type:circle"><strong>Internas</strong>: Actúan en la
												conciencia</li>
										</ul>
									</div>
									<div style="display:contents" dir="auto">
										<ul class="bulleted-list">
											<li style="list-style-type:circle"><strong>Incoercible</strong>: No se
												imponen por la fuerza</li>
										</ul>
									</div>
									<div style="display:contents" dir="auto">
										<ul class="bulleted-list">
											<li style="list-style-type:circle"><strong>Unilaterales</strong>: No generan
												obligación en otros. </li>
										</ul>
									</div>
								</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Normas Jurídicas<div style="display:contents"
										dir="auto">
										<ul class="bulleted-list">
											<li style="list-style-type:circle"><strong>Heterónomas</strong>: Impuestas
												por una autoridad externa</li>
										</ul>
									</div>
									<div style="display:contents" dir="auto">
										<ul class="bulleted-list">
											<li style="list-style-type:circle"><strong>Externas</strong>: Se aplicas
												desde afuera del sujeto</li>
										</ul>
									</div>
									<div style="display:contents" dir="auto">
										<ul class="bulleted-list">
											<li style="list-style-type:circle"><strong>Coercibles</strong>: Se hacen
												cumplir por la fuerza</li>
										</ul>
									</div>
									<div style="display:contents" dir="auto">
										<ul class="bulleted-list">
											<li style="list-style-type:circle"><strong>Bilaterales</strong>: Generan
												derechos y obligaciones </li>
										</ul>
									</div>
								</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Normas Religiosas<div style="display:contents"
										dir="auto">
										<ul class="bulleted-list">
											<li style="list-style-type:circle">Se derivan de la fe que vinculan al
												hombre con Dios</li>
										</ul>
									</div>
								</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Normas Morales<div style="display:contents" dir="auto">
										<ul class="bulleted-list">
											<li style="list-style-type:circle"><strong>Heterónomas</strong>: Impuestas
												por la sociedad</li>
										</ul>
									</div>
									<div style="display:contents" dir="auto">
										<ul class="bulleted-list">
											<li style="list-style-type:circle"><strong>Externas</strong>: Se reflejan en
												conductas sociales</li>
										</ul>
									</div>
									<div style="display:contents" dir="auto">
										<ul class="bulleted-list">
											<li style="list-style-type:circle"><strong>Incoercibles</strong>: No tienen
												sanción legal </li>
										</ul>
									</div>
								</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<hr />
						</div>
						<div style="display:contents" dir="auto">
							<h2 class="">1.6 Utilidad de la Ética </h2>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="1">
								<li>Logran autonomía, madurez y dominio de sí mismo</li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="2">
								<li>Amplía el criterio para tomar decisiones </li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="3">
								<li>Da coherencia y consistencia a los actos</li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="4">
								<li>Nos hace mejores personas </li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="5">
								<li>Fortalece instituciones: más sólidas, eficientes y prósperas </li>
							</ol>
						</div>
					</div>
				</details>
			</div>
			<div style="display:contents" dir="auto">
				<details close="">
					<summary style="font-weight:600;font-size:1.875em;line-height:1.3;margin:0">2. Ética Empresarial
					</summary>
					<div class="indented">
						<div style="display:contents" dir="auto">
							<h2 class="">2.1 Ética de la Empresa</h2>
						</div>
						<div style="display:contents" dir="auto">
							<p class="">Principios, valores y normas que
								orientan el comportamiento de los colaboradores</p>
						</div>
						<div style="display:contents" dir="auto">
							<hr />
						</div>
						<div style="display:contents" dir="auto">
							<h2 class="">2.2 Capital Humano</h2>
						</div>
						<div style="display:contents" dir="auto">
							<p class="">La persona es un fin en sí misma,
								<strong><span style="border-bottom:0.05em solid">no un medio para la
										empresa</span></strong>
							</p>
						</div>
						<div style="display:contents" dir="auto">
							<blockquote class=""><strong>Importancia</strong>:
								Agente transformador de la organización (Valor de las personas)</blockquote>
						</div>
						<div style="display:contents" dir="auto">
							<hr />
						</div>
						<div style="display:contents" dir="auto">
							<h2 class="">2.3 Finalidad de la Empresa</h2>
						</div>
						<div style="display:contents" dir="auto">
							<p class="">Finalidad socioeconómica: Creación de
								bienes y servicios </p>
						</div>
						<div style="display:contents" dir="auto">
							<h3 class="">Finalidad Social</h3>
						</div>
						<div style="display:contents" dir="auto">
							<div class="column-list">
								<div style="display:contents" dir="auto">
									<div style="width:50%" class="column">
										<div style="display:contents" dir="auto">
											<p class="">
												<strong>Interna</strong>:
											</p>
										</div>
										<div style="display:contents" dir="auto">
											<p class="">Desarrollo humano de
												los integrantes</p>
										</div>
									</div>
								</div>
								<div style="display:contents" dir="auto">
									<div style="width:50%" class="column">
										<div style="display:contents" dir="auto">
											<p class="">
												<strong>Externa</strong>:
											</p>
										</div>
										<div style="display:contents" dir="auto">
											<p class="">Desarrollo humano de
												la comunidad</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div style="display:contents" dir="auto">
							<h3 class="">Finalidad Económica </h3>
						</div>
						<div style="display:contents" dir="auto">
							<div class="column-list">
								<div style="display:contents" dir="auto">
									<div style="width:50%" class="column">
										<div style="display:contents" dir="auto">
											<p class="">
												<strong>Interna</strong>:
											</p>
										</div>
										<div style="display:contents" dir="auto">
											<p class="">Generar riqueza para
												los integrantes</p>
										</div>
									</div>
								</div>
								<div style="display:contents" dir="auto">
									<div style="width:50%" class="column">
										<div style="display:contents" dir="auto">
											<p class="">
												<strong>Externa</strong>:
											</p>
										</div>
										<div style="display:contents" dir="auto">
											<p class="">Generar riqueza para
												la comunidad</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div style="display:contents" dir="auto">
							<hr />
						</div>
						<div style="display:contents" dir="auto">
							<h2 class="">2.4 Principio de Proporcionalidad
							</h2>
						</div>
						<div style="display:contents" dir="auto">
							<p class="">La proporcionalidad exige que fin y
								objeto sean lícitos y adecuados</p>
						</div>
						<div style="display:contents" dir="auto">
							<blockquote class=""><strong>El fin no justifica
									los medios</strong></blockquote>
						</div>
						<div style="display:contents" dir="auto">
							<h3 class="">Regla Básica</h3>
						</div>
						<div style="display:contents" dir="ltr">
							<table class="simple-table">
								<thead class="simple-table-header">
									<div style="display:contents" dir="ltr">
										<tr>
											<th id="AlUw" class="simple-table-header-color simple-table-header"
												style="width:211px">Fin</th>
											<th id="DLlG" class="simple-table-header-color simple-table-header"
												style="width:211px">+ Objeto</th>
											<th id="jVO;" class="simple-table-header-color simple-table-header"
												style="width:211px">= Acto</th>
										</tr>
									</div>
								</thead>
								<tbody>
									<div style="display:contents" dir="ltr">
										<tr>
											<td id="AlUw" class="" style="width:211px">Lícito (+)</td>
											<td id="DLlG" class="" style="width:211px">Lícito (+)</td>
											<td id="jVO;" class="" style="width:211px">Lícito (+)</td>
										</tr>
									</div>
									<div style="display:contents" dir="ltr">
										<tr>
											<td id="AlUw" class="" style="width:211px">Lícito (+)</td>
											<td id="DLlG" class="" style="width:211px">Ilícito (-)</td>
											<td id="jVO;" class="" style="width:211px">Ilícito (-)</td>
										</tr>
									</div>
									<div style="display:contents" dir="ltr">
										<tr>
											<td id="AlUw" class="" style="width:211px">Ilícito (-)</td>
											<td id="DLlG" class="" style="width:211px">Ilícito (-)</td>
											<td id="jVO;" class="" style="width:211px">Ilícito (-)</td>
										</tr>
									</div>
								</tbody>
							</table>
						</div>
						<div style="display:contents" dir="auto">
							<hr />
						</div>
						<div style="display:contents" dir="auto">
							<h2 class="">2.5 Líder Moral</h2>
						</div>
						<div style="display:contents" dir="auto">
							<p class="">Actúa con base en principios éticos y
								sirve de referencia en la empresa </p>
						</div>
						<div style="display:contents" dir="auto">
							<h3 class="">Atributos</h3>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc"><strong>Prudencia (mas importante)</strong>:<div
										style="display:contents" dir="auto">
										<ul class="bulleted-list">
											<li style="list-style-type:circle">Discernir lo bueno de lo malo</li>
										</ul>
									</div>
								</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc"><strong>Credibilidad</strong>:<div
										style="display:contents" dir="auto">
										<ul class="bulleted-list">
											<li style="list-style-type:circle">Coherencia entre palabras y acciones</li>
										</ul>
									</div>
								</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc"><strong>Responsabilidad</strong>:<div
										style="display:contents" dir="auto">
										<ul class="bulleted-list">
											<li style="list-style-type:circle">A mayor jerarquía, mayor responsabilidad
											</li>
										</ul>
									</div>
								</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc"><strong>Compromiso</strong>:<div
										style="display:contents" dir="auto">
										<ul class="bulleted-list">
											<li style="list-style-type:circle">Asumir las responsabilidad y obligaciones
												contraídas </li>
										</ul>
									</div>
								</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<h3 class="">Exigencia Ética</h3>
						</div>
						<div style="display:contents" dir="auto">
							<p class="">Proporcional a la educación y
								preparación del líder </p>
						</div>
						<div style="display:contents" dir="ltr">
							<figure class="image"><a href="%C3%89tica/image.png"><img style="width:586.9375px"
										src="../assets/etica/image.png" /></a></figure>
						</div>
					</div>
				</details>
			</div>
			<div style="display:contents" dir="auto">
				<details close="">
					<summary style="font-weight:600;font-size:1.875em;line-height:1.3;margin:0">3. Ética Bursátil
					</summary>
					<div class="indented">
						<div style="display:contents" dir="auto">
							<h2 class="">3.1 Ética Bursátil</h2>
						</div>
						<div style="display:contents" dir="auto">
							<p class="">Principios y valores éticos del
								mercado de valores </p>
						</div>
						<div style="display:contents" dir="auto">
							<hr />
						</div>
						<div style="display:contents" dir="auto">
							<h2 class="">3.2 Sanas Prácticas </h2>
						</div>
						<div style="display:contents" dir="auto">
							<p class="">Repetición de actos aceptados por la
								comunidad bursátil que beneficias al cliente, institución y mercado </p>
						</div>
						<div style="display:contents" dir="ltr">
							<figure class="block-color-gray_background callout" style="white-space:normal;display:flex">
								<div style="font-size:1.5em"><span class="icon">💡</span></div>
								<div style="width:100%">
									<div style="display:contents" dir="auto">
										<p class=""><strong>Responsabilidad
												fiduciaria:</strong> Cuidar los bienes de otros como si fueran propios
										</p>
									</div>
								</div>
							</figure>
						</div>
						<div style="display:contents" dir="auto">
							<hr />
						</div>
						<div style="display:contents" dir="auto">
							<h2 class="">3.3 Secreto Bursátil </h2>
						</div>
						<div style="display:contents" dir="auto">
							<p class="">Guardar confidencialidad respecto a la
								información del cliente </p>
						</div>
						<div style="display:contents" dir="auto">
							<hr />
						</div>
						<div style="display:contents" dir="auto">
							<h2 class="">3.4 Beneficios de la certificación
								AMIB </h2>
						</div>
						<div style="display:contents" dir="auto">
							<h3 class="">Beneficios para el Mercado de Valores
							</h3>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Contar con profesionales capacitados en productos,
									servicios y normatividad</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Estandarizar conocimientos mínimos del mercado de
									valores </li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Reducir riesgos humanos, operativos, legales y
									reputacionales </li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Promover competencia leal y sanas practicas </li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Generar confianza en el inversionista</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Fomentar la cultura bursátil </li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<h3 class="">Beneficios para el Profesional
								Bursátil</h3>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Cumplir la normatividad bursátil / por
									<strong>convicción</strong>
								</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Aplicar principios éticos que preserven la integridad
									del mercado / por <strong>convencimiento </strong></li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Obtener conocimientos técnicos para la excelencia
									profesional / por <strong>convencimiento</strong></li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Incrementar el valor curricular y el desarrollo
									profesional </li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<hr />
						</div>
						<div style="display:contents" dir="auto">
							<h2 class="">3.5 Autorregulación</h2>
						</div>
						<div style="display:contents" dir="auto">
							<p class="">Normas que entidades o profesionales
								establecen para definir estándares y lineamientos de su practica, adicionales a la
								regulación pública</p>
						</div>
						<div style="display:contents" dir="auto">
							<h3 class="">Objeto</h3>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Contribuir a un mercado eficiente, transparente, seguro
									y de calidad </li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<h3 class="">Finalidad</h3>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Emitir normas basadas en sanas practicas</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Establecer estándares mínimos</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Supervisar el cumplimiento y la disciplina de sus
									miembros </li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<h3 class="">Beneficios</h3>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Fortalece la integridad del mercado, la confianza del
									publico y la autoridad </li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Promueve un desarrollo sano y responsable del mercado
								</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Permite alertar oportunamente a la autoridad sobre
									conductas irregulares </li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<hr />
						</div>
						<div style="display:contents" dir="auto">
							<h2 class="">3.6 Organismos Autorregulatorios
								(OAR)</h2>
						</div>
						<div style="display:contents" dir="auto">
							<h3 class="">OAR en México </h3>
						</div>
						<div style="display:contents" dir="auto">
							<div class="column-list">
								<div style="display:contents" dir="auto">
									<div style="width:25%" class="column">
										<div style="display:contents" dir="auto">
											<p class=""><strong>Bolsas de
													Valores</strong></p>
										</div>
										<div style="display:contents" dir="auto">
											<ul class="bulleted-list">
												<li style="list-style-type:disc">BMV</li>
											</ul>
										</div>
										<div style="display:contents" dir="auto">
											<ul class="bulleted-list">
												<li style="list-style-type:disc">MEXDER</li>
											</ul>
										</div>
									</div>
								</div>
								<div style="display:contents" dir="auto">
									<div style="width:41.666666666666664%" class="column">
										<div style="display:contents" dir="auto">
											<p class=""><strong>Contrapartes
													Centrales</strong></p>
										</div>
										<div style="display:contents" dir="auto">
											<ul class="bulleted-list">
												<li style="list-style-type:disc">CCV (Contraparte Central de Valores)
												</li>
											</ul>
										</div>
										<div style="display:contents" dir="auto">
											<ul class="bulleted-list">
												<li style="list-style-type:disc">ASIGNA</li>
											</ul>
										</div>
										<div style="display:contents" dir="auto">
											<ul class="bulleted-list">
												<li style="list-style-type:disc">INDEVAL</li>
											</ul>
										</div>
									</div>
								</div>
								<div style="display:contents" dir="auto">
									<div style="width:33.33333333333334%" class="column">
										<div style="display:contents" dir="auto">
											<p class=""><strong>Asociaciones
													Gremiales</strong></p>
										</div>
										<div style="display:contents" dir="auto">
											<ul class="bulleted-list">
												<li style="list-style-type:disc">AMIB</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div style="display:contents" dir="auto">
							<h3 class="">Objeto</h3>
						</div>
						<div style="display:contents" dir="auto">
							<p class="">Establecer estándares de conducta y
								operación para el sano desarrollo del mercado (Segun LMV)</p>
						</div>
						<div style="display:contents" dir="auto">
							<h3 class="">Funciones</h3>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Recoger las sanas practicas del mercado</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Elevar los estándares profesionales </li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Contribuir a un mercado integro, transparente y con
									seguridad para inversionistas </li>
							</ul>
						</div>
					</div>
				</details>
			</div>
			<div style="display:contents" dir="auto">
				<details close="">
					<summary style="font-weight:600;font-size:1.875em;line-height:1.3;margin:0">4. Código de Ética de la
						comunidad Bursátil </summary>
					<div class="indented">
						<div style="display:contents" dir="auto">
							<h2 class="">4.1 Código de Ética </h2>
						</div>
						<div style="display:contents" dir="auto">
							<h3 class="">Finalidad</h3>
						</div>
						<div style="display:contents" dir="auto">
							<p class="">Esclarecer limites de actuación y
								garantizar practicas sanas y eficaces en la actividad profesional, interna y con
								clientes </p>
						</div>
						<div style="display:contents" dir="auto">
							<h3 class="">Importancia</h3>
						</div>
						<div style="display:contents" dir="auto">
							<p class="">No debe memorizarse, sino comprenderse
								e integrarse a la vida profesional para generar hábitos y actitudes de excelencia </p>
						</div>
						<div style="display:contents" dir="auto">
							<h3 class="">Objetivos</h3>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Base de actuación del profesional bursátil </li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Preservar la integridad del mercado bursátil </li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Proteger los intereses del publico inversionista </li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<hr />
						</div>
						<div style="display:contents" dir="auto">
							<h2 class="">4.2 Sujetos Obligados a Cumplir el
								Código </h2>
						</div>
						<div style="display:contents" dir="auto">
							<p class="">Están obligados <strong>todos lo que
									realizan actividades profesionales en el mercado bursátil</strong>, incluyendo:</p>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Intermediarios</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Prestadores de servicios</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Emisoras</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Empleados de todas las anteriores </li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<hr />
						</div>
						<div style="display:contents" dir="auto">
							<h2 class="">4.3 Conocimientos del Profesional
								Bursátil </h2>
						</div>
						<div style="display:contents" dir="auto">
							<p class="">El profesional bursátil debe conocer
								clara y profundamente: </p>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Normas de <strong>regulación publica</strong></li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Normas de <strong>autorregulación</strong></li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc"><strong>Politicas empresariales</strong></li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc"><strong>Productos y servicios</strong> que ofrece y
									asesora </li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<hr />
						</div>
						<div style="display:contents" dir="auto">
							<h2 class="">4.4 Principios Éticos Generales </h2>
						</div>
						<div style="display:contents" dir="auto">
							<p class="">Aplicables a cualquier actividad
								profesional:</p>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc"><strong>Integridad</strong>: Congruencia entre el ser y
									hacer</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc"><strong>Diligencia</strong>: Esmero, cuidado y
									oportunidad</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc"><strong>Probidad</strong>: Constancia en el
									cumplimiento del deber</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc"><strong>Imparcialidad</strong>: Decisiones con
									criterios objetivos </li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc"><strong>Buena fe</strong>: Intención recta </li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc"><strong>Honestidad</strong>: Actuar con rectitud </li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<hr />
						</div>
						<div style="display:contents" dir="auto">
							<h2 class="">4.5 Principios Fundamentales de
								Actuación</h2>
						</div>
						<div style="display:contents" dir="auto">
							<p class=""> Criterios de actuación en el mercado
								bursátil, basados en sanas practicas y normatividad </p>
						</div>
						<div style="display:contents" dir="auto">
							<details close="">
								<summary style="font-weight:600;font-size:1.25em;line-height:1.3;margin:0">1. Actúa de
									acuerdo con las disposiciones aplicables y las sanas practicas del mercado
								</summary>
								<div class="indented">
									<div style="display:contents" dir="auto">
										<ol type="a" class="numbered-list" start="1">
											<li>Abstenerse de ejecutar instrucciones contrarias a la regulación </li>
										</ol>
									</div>
									<div style="display:contents" dir="auto">
										<ol type="a" class="numbered-list" start="2">
											<li>Supervisar el cumplimiento normativo </li>
										</ol>
									</div>
									<div style="display:contents" dir="auto">
										<ol type="a" class="numbered-list" start="3">
											<li>Promover con el ejemplo la rectitud</li>
										</ol>
									</div>
									<div style="display:contents" dir="auto">
										<ol type="a" class="numbered-list" start="4">
											<li>No ser complaciente con conductas incorrectas</li>
										</ol>
									</div>
									<div style="display:contents" dir="auto">
										<ol type="a" class="numbered-list" start="5">
											<li>Informar y aportar evidencia de violaciones</li>
										</ol>
									</div>
								</div>
							</details>
						</div>
						<div style="display:contents" dir="auto">
							<details close="">
								<summary style="font-weight:600;font-size:1.25em;line-height:1.3;margin:0">2. Actúa con
									una conducta profesional integra que permite un mercado transparente y ordenado
								</summary>
								<div class="indented">
									<div style="display:contents" dir="auto">
										<ol type="a" class="numbered-list" start="1">
											<li>No crear condiciones falsas de demanda u oferta</li>
										</ol>
									</div>
									<div style="display:contents" dir="auto">
										<ol type="a" class="numbered-list" start="2">
											<li>No alterar precios o tasas mediante engaño o rumor</li>
										</ol>
									</div>
									<div style="display:contents" dir="auto">
										<ol type="a" class="numbered-list" start="3">
											<li>No impedir el libre contacto entre oferta y demanda</li>
										</ol>
									</div>
									<div style="display:contents" dir="auto">
										<ol type="a" class="numbered-list" start="4">
											<li>No alterar la normalidad de las operaciones </li>
										</ol>
									</div>
									<div style="display:contents" dir="ltr">
										<figure class="block-color-gray_background callout"
											style="white-space:normal;display:flex">
											<div style="font-size:1.5em"><span class="icon">💡</span></div>
											<div style="width:100%">
												<div style="display:contents" dir="auto">
													<p class="">De la
														responsabilidad de los profesionales actuar con integridad
														personal, pues sus conductas no sólo afectan su reputación y la
														de la persona moral con la cual se encuentran vinculados, sino
														también la del mercado bursátil en su totalidad.</p>
												</div>
											</div>
										</figure>
									</div>
								</div>
							</details>
						</div>
						<div style="display:contents" dir="auto">
							<details close="">
								<summary style="font-weight:600;font-size:1.25em;line-height:1.3;margin:0">3. Haz
									prevalecer el interés de tu cliente </summary>
								<div class="indented">
									<div style="display:contents" dir="auto">
										<ol type="a" class="numbered-list" start="1">
											<li>Identificar objetivos de inversion</li>
										</ol>
									</div>
									<div style="display:contents" dir="auto">
										<ol type="a" class="numbered-list" start="2">
											<li>Proporcionar información relevante</li>
										</ol>
									</div>
									<div style="display:contents" dir="auto">
										<ol type="a" class="numbered-list" start="3">
											<li>Distinguir información de opinión</li>
										</ol>
									</div>
									<div style="display:contents" dir="auto">
										<ol type="a" class="numbered-list" start="4">
											<li>Asegurar que el cliente conozca riesgos</li>
										</ol>
									</div>
									<div style="display:contents" dir="auto">
										<ol type="a" class="numbered-list" start="5">
											<li>Informar políticas de cobro</li>
										</ol>
									</div>
									<div style="display:contents" dir="auto">
										<ol type="a" class="numbered-list" start="6">
											<li>No inducir operaciones por beneficio propio</li>
										</ol>
									</div>
									<div style="display:contents" dir="auto">
										<ol type="a" class="numbered-list" start="7">
											<li>Ejecutar instrucciones con igualdad y oportunidad </li>
										</ol>
									</div>
									<div style="display:contents" dir="auto">
										<ol type="a" class="numbered-list" start="8">
											<li>Ejecutar y asignar operaciones con transparencia </li>
										</ol>
									</div>
								</div>
							</details>
						</div>
						<div style="display:contents" dir="auto">
							<details close="">
								<summary style="font-weight:600;font-size:1.25em;line-height:1.3;margin:0">4. Evita
									conflictos entre tu interés personal y el de terceros</summary>
								<div class="indented">
									<div style="display:contents" dir="auto">
										<ol type="a" class="numbered-list" start="1">
											<li>No ofrecer ni aceptar incentivos indebidos</li>
										</ol>
									</div>
									<div style="display:contents" dir="auto">
										<ol type="a" class="numbered-list" start="2">
											<li>Abstenerse de actividades incompatibles</li>
										</ol>
									</div>
									<div style="display:contents" dir="auto">
										<ol type="a" class="numbered-list" start="3">
											<li>Informar situaciones de conflicto de interés </li>
										</ol>
									</div>
								</div>
							</details>
						</div>
						<div style="display:contents" dir="auto">
							<details close="">
								<summary style="font-weight:600;font-size:1.25em;line-height:1.3;margin:0">5.
									Proporciona al mercado información veraz, clara, completa y oportuna</summary>
								<div class="indented">
									<div style="display:contents" dir="auto">
										<ol type="a" class="numbered-list" start="1">
											<li>Difundir oportunamente información relevante que influya en precios o
												decisiones del inversionista </li>
										</ol>
									</div>
									<div style="display:contents" dir="auto">
										<ol type="a" class="numbered-list" start="2">
											<li>No difundir rumores ni información que distorsione la formación de
												precios </li>
										</ol>
									</div>
									<div style="display:contents" dir="auto">
										<ol type="a" class="numbered-list" start="3">
											<li>Recomendar con base en información publica, como opinión profesional
											</li>
										</ol>
									</div>
								</div>
							</details>
						</div>
						<div style="display:contents" dir="auto">
							<details close="">
								<summary style="font-weight:600;font-size:1.25em;line-height:1.3;margin:0">6.
									Salvaguarda la confidencialidad de la información de los clientes</summary>
								<div class="indented">
									<div style="display:contents" dir="auto">
										<ol type="a" class="numbered-list" start="1">
											<li>Guardar confidencialidad de la información</li>
										</ol>
									</div>
									<div style="display:contents" dir="auto">
										<ol type="a" class="numbered-list" start="2">
											<li>Proporcionarla solo a autoridades u OAR competentes </li>
										</ol>
									</div>
									<div style="display:contents" dir="auto">
										<ol type="a" class="numbered-list" start="3">
											<li>No usarla para beneficio propio o de terceros </li>
										</ol>
									</div>
								</div>
							</details>
						</div>
						<div style="display:contents" dir="auto">
							<details close="">
								<summary style="font-weight:600;font-size:1.25em;line-height:1.3;margin:0">7. No uses ni
									divulgues información privilegiada </summary>
								<div class="indented">
									<div style="display:contents" dir="auto">
										<ol type="a" class="numbered-list" start="1">
											<li>No divulgar información privilegiada</li>
										</ol>
									</div>
									<div style="display:contents" dir="auto">
										<ol type="a" class="numbered-list" start="2">
											<li>No negociar ni inducir operaciones con dicha información </li>
										</ol>
									</div>
								</div>
							</details>
						</div>
						<div style="display:contents" dir="auto">
							<details close="">
								<summary style="font-weight:600;font-size:1.25em;line-height:1.3;margin:0">8. Compite de
									forma leal </summary>
								<div class="indented">
									<div style="display:contents" dir="auto">
										<ol type="a" class="numbered-list" start="1">
											<li>No atraer clientes con beneficios no permitidos </li>
										</ol>
									</div>
									<div style="display:contents" dir="auto">
										<ol type="a" class="numbered-list" start="2">
											<li>No ofrecer precios por debajo de costos operativos</li>
										</ol>
									</div>
									<div style="display:contents" dir="auto">
										<ol type="a" class="numbered-list" start="3">
											<li>No garantizar rendimientos indebidos </li>
										</ol>
									</div>
									<div style="display:contents" dir="ltr">
										<figure class="block-color-gray_background callout"
											style="white-space:normal;display:flex">
											<div style="font-size:1.5em"><span class="icon">💡</span></div>
											<div style="width:100%">
												<div style="display:contents" dir="auto">
													<p class="">A un promotor
														se le ocurre la idea de invitar a los papás de sus amigos a
														abrir cuentas con él, ofreciéndoles que, si abren o incrementan
														la cuenta, les ofrecerá la mitad de la comisión que gane por
														cada operación</p>
												</div>
											</div>
										</figure>
									</div>
								</div>
							</details>
						</div>
					</div>
				</details>
			</div>
		</div>
	</article><span class="sans" style="font-size:14px;padding-top:2em"></span>
</body>

</html>