<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Fondos de Inversión </title>
	<link rel="stylesheet" href="../style.css">
</head>

<body>
	<article class="page sans">
		<header><img class="page-cover-image" src="../assets/header.jpg" style="object-position:center 85.27%" />
			<div class="nav-button">
				<button onclick="window.history.back()">← Regresar</button>
			</div>
			<div class="page-header-icon page-header-icon-with-cover"><img class="icon" src="../assets/icon.png" />
			</div>
			<h1 class="page-title" dir="auto">Fondos de Inversión </h1>
			<p class="page-description" dir="auto"></p>
		</header>
		<div class="page-body">
			<div style="display:contents" dir="auto">
				<details close="">
					<summary style="font-weight:600;font-size:1.875em;line-height:1.3;margin:0">1. Conceptos Generales
					</summary>
					<div class="indented">
						<div style="display:contents" dir="auto">
							<h2 class="">1.1 Fondo de Inversión </h2>
						</div>
						<div style="display:contents" dir="auto">
							<p class="">Vehículo que capta, invierte y
								gestiona recursos de pequeños y medianos inversionistas </p>
						</div>
						<div style="display:contents" dir="auto">
							<h3 class="">Características</h3>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Autorizados por la CNBV</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Constituidos como S.A. de C.V.</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Regulados por la Ley de Fondos de Inversión (LFI) y
									supletoriamente por la Ley del Mercado de Valores (LMV)</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Capital mínimo: $1,000,000 MXN </li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<h3 class="">Objeto del Fondo</h3>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Adquirir y vender Activos Objeto de Inversión (AOI)
								</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Diversificar el riesgo</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Permitir acceso al mercado de valores al inversionista
								</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<hr />
						</div>
						<div style="display:contents" dir="auto">
							<h2 class="">1.2 Activos Objeto de Inversión</h2>
						</div>
						<div style="display:contents" dir="auto">
							<p class="">Valores, títulos o documentos
								inscritos en el RNV o listados en el SIC</p>
						</div>
						<div style="display:contents" dir="auto">
							<h3 class="">Cartera o Portafolio</h3>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Conjunto de AOI en los que invierte el fondo </li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Se integra conforme su régimen de inversión </li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<hr />
						</div>
						<div style="display:contents" dir="auto">
							<h2 class="">1.3 Series Accionarias</h2>
						</div>
						<div style="display:contents" dir="auto">
							<div class="column-list">
								<div style="display:contents" dir="auto">
									<div style="width:50%" class="column">
										<div style="display:contents" dir="auto">
											<h3 class="">Serie A</h3>
										</div>
										<div style="display:contents" dir="auto">
											<ul class="bulleted-list">
												<li style="list-style-type:disc">Capital social fijo</li>
											</ul>
										</div>
										<div style="display:contents" dir="auto">
											<ul class="bulleted-list">
												<li style="list-style-type:disc">Suscripción restringida </li>
											</ul>
										</div>
										<div style="display:contents" dir="auto">
											<ul class="bulleted-list">
												<li style="list-style-type:disc">Una sola serie y clase </li>
											</ul>
										</div>
									</div>
								</div>
								<div style="display:contents" dir="auto">
									<div style="width:50%" class="column">
										<div style="display:contents" dir="auto">
											<h3 class="">Serie B</h3>
										</div>
										<div style="display:contents" dir="auto">
											<ul class="bulleted-list">
												<li style="list-style-type:disc">Capital social variable</li>
											</ul>
										</div>
										<div style="display:contents" dir="auto">
											<ul class="bulleted-list">
												<li style="list-style-type:disc">Suscripción libre</li>
											</ul>
										</div>
										<div style="display:contents" dir="auto">
											<ul class="bulleted-list">
												<li style="list-style-type:disc">Puede dividirse en distintas clases
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div style="display:contents" dir="ltr">
							<figure class="block-color-gray_background callout" style="white-space:normal;display:flex">
								<div style="font-size:1.5em"><span class="icon">💡</span></div>
								<div style="width:100%">
									<div style="display:contents" dir="auto">
										<p class="">Las series accionarias
											definen el régimen fiscal del inversionista, las comisiones y los montos
											mínimos de inversión </p>
									</div>
								</div>
							</figure>
						</div>
						<div style="display:contents" dir="auto">
							<hr />
						</div>
						<div style="display:contents" dir="auto">
							<h2 class="">1.4 Diferencia entre Títulos de Deuda
								y Fondos de Inversión</h2>
						</div>
						<div style="display:contents" dir="ltr">
							<figure class="image"><a href="../assets/fondos-de-inversion/image.png"><img
										style="width:681.96875px" src="../assets/fondos-de-inversion/image.png" /></a>
							</figure>
						</div>
						<div style="display:contents" dir="auto">
							<hr />
						</div>
						<div style="display:contents" dir="auto">
							<h2 class="">1.5 Modalidad del Fondo</h2>
						</div>
						<div style="display:contents" dir="auto">
							<div class="column-list">
								<div style="display:contents" dir="auto">
									<div style="width:50%" class="column">
										<div style="display:contents" dir="auto">
											<h3 class="">Fondo Abierto</h3>
										</div>
										<div style="display:contents" dir="auto">
											<ul class="bulleted-list">
												<li style="list-style-type:disc">El fondo <strong>recompra </strong>sus
													acciones</li>
											</ul>
										</div>
										<div style="display:contents" dir="auto">
											<ul class="bulleted-list">
												<li style="list-style-type:disc">Liquidez directa para el inversionista
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div style="display:contents" dir="auto">
									<div style="width:50%" class="column">
										<div style="display:contents" dir="auto">
											<h3 class="">Fondo Cerrado</h3>
										</div>
										<div style="display:contents" dir="auto">
											<ul class="bulleted-list">
												<li style="list-style-type:disc">El fondo <strong>no recompra</strong>
													sus acciones</li>
											</ul>
										</div>
										<div style="display:contents" dir="auto">
											<ul class="bulleted-list">
												<li style="list-style-type:disc">Las acciones se venden en el mercado
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div style="display:contents" dir="auto">
							<hr />
						</div>
						<div style="display:contents" dir="auto">
							<h2 class="">1.6 Tipos de Fondos de Inversión
							</h2>
						</div>
						<div style="display:contents" dir="auto">
							<h3 class="">Fondos de Renta Variable (FIRV)</h3>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Invierten principalmente en acciones</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Mayor riesgo y volatilidad </li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<blockquote class=""><strong>Examen</strong>:
								<br />Operarán con Activos Objeto de Inversión cuya naturaleza corresponda a acciones,
								obligaciones y demás valores, títulos o documentos representativos de una deuda a cargo
								de un tercero
							</blockquote>
						</div>
						<div style="display:contents" dir="auto">
							<h3 class="">Fondos de Instrumentos de Deuda
								(FIID)</h3>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Invierten <strong>exclusivamente </strong>en
									instrumentos de deuda</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Se evalúan por calidad crediticia </li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<blockquote class=""><strong>Examen</strong>:
								<br />Operarán exclusivamente con Activos Objeto de Inversión cuya naturaleza
								corresponda a valores, títulos o documentos representativos de una deuda a cargo de un
								tercero
							</blockquote>
						</div>
						<div style="display:contents" dir="auto">
							<h3 class="">Fondos de Capitales (FINCA)</h3>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Invierten en <strong><span
											style="border-bottom:0.05em solid">empresas promovidas</span></strong> por
									el propio fondo </li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<blockquote class="">
								<strong>Examen</strong>:<br />Operarán con Activos Objeto de Inversión cuya naturaleza
								corresponda a acciones, obligaciones y bonos a cargo de empresas promovidas por el
								propio fondo de inversión
							</blockquote>
						</div>
						<div style="display:contents" dir="auto">
							<h3 class="">Fondos de Objeto Limitado (FIOL)</h3>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Invierten solo en activos específicos definidos en sus
									estatutos y prospectos </li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<blockquote class=""><strong>Examen</strong>:
								<br />Operarán exclusivamente con los Activos Objeto de Inversión que definan en sus
								estatutos y prospectos de información
							</blockquote>
						</div>
						<div style="display:contents" dir="auto">
							<hr />
						</div>
						<div style="display:contents" dir="auto">
							<h2 class="">1.7 Clasificación por Estrategia de
								Inversión (FIRV)</h2>
						</div>
						<div style="display:contents" dir="ltr">
							<figure class="image"><a href="../assets/fondos-de-inversion/image-1.png"><img
										style="width:681.953125px"
										src="../assets/fondos-de-inversion/image-1.png" /></a></figure>
						</div>
						<div style="display:contents" dir="auto">
							<blockquote class="">Liquidan a 24 horas (T+1)
							</blockquote>
						</div>
						<div style="display:contents" dir="ltr">
							<figure class="block-color-gray_background callout" style="white-space:normal;display:flex">
								<div style="font-size:1.5em"><span class="icon">💡</span></div>
								<div style="width:100%">
									<div style="display:contents" dir="auto">
										<p class="">Un FIRV no puede invertir
											100% en deuda; esa característica corresponde a un FIID</p>
									</div>
								</div>
							</figure>
						</div>
						<div style="display:contents" dir="auto">
							<hr />
						</div>
						<div style="display:contents" dir="auto">
							<h2 class="">1.8 Clasificación por Plazo (FIID)
							</h2>
						</div>
						<div style="display:contents" dir="auto">
							<details close="">
								<summary style="font-weight:600;font-size:1.25em;line-height:1.3;margin:0">Corto Plazo
								</summary>
								<div class="indented">
									<div style="display:contents" dir="auto">
										<p class="">Duración: 1 a 360 días
										</p>
									</div>
									<div style="display:contents" dir="auto">
										<ul class="bulleted-list">
											<li style="list-style-type:disc">Sus AOI son exclusivamente:<div
													style="display:contents" dir="auto">
													<ul class="bulleted-list">
														<li style="list-style-type:circle">CETES</li>
													</ul>
												</div>
												<div style="display:contents" dir="auto">
													<ul class="bulleted-list">
														<li style="list-style-type:circle">PRLV</li>
													</ul>
												</div>
												<div style="display:contents" dir="auto">
													<ul class="bulleted-list">
														<li style="list-style-type:circle">Pagaré Comercial</li>
													</ul>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</details>
						</div>
						<div style="display:contents" dir="auto">
							<details close="">
								<summary style="font-weight:600;font-size:1.25em;line-height:1.3;margin:0">Mediano Plazo
								</summary>
								<div class="indented">
									<div style="display:contents" dir="auto">
										<p class="">Duración: 1 a 3 años </p>
									</div>
									<div style="display:contents" dir="auto">
										<ul class="bulleted-list">
											<li style="list-style-type:disc">Los AOI específicos serán indicados en el
												examen</li>
										</ul>
									</div>
								</div>
							</details>
						</div>
						<div style="display:contents" dir="auto">
							<details close="">
								<summary style="font-weight:600;font-size:1.25em;line-height:1.3;margin:0">Largo Plazo
								</summary>
								<div class="indented">
									<div style="display:contents" dir="auto">
										<p class="">Duración: Mas de 3 años
										</p>
									</div>
									<div style="display:contents" dir="auto">
										<ul class="bulleted-list">
											<li style="list-style-type:disc">Incluye AOI de mayor duración como: <div
													style="display:contents" dir="auto">
													<ul class="bulleted-list">
														<li style="list-style-type:circle">Bonos M</li>
													</ul>
												</div>
												<div style="display:contents" dir="auto">
													<ul class="bulleted-list">
														<li style="list-style-type:circle">BPA</li>
													</ul>
												</div>
												<div style="display:contents" dir="auto">
													<ul class="bulleted-list">
														<li style="list-style-type:circle">Udibonos, etc. </li>
													</ul>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</details>
						</div>
						<div style="display:contents" dir="auto">
							<blockquote class="">Liquidan el mismo día (T)
							</blockquote>
						</div>
						<div style="display:contents" dir="ltr">
							<figure class="block-color-gray_background callout" style="white-space:normal;display:flex">
								<div style="font-size:1.5em"><span class="icon">💡</span></div>
								<div style="width:100%">
									<div style="display:contents" dir="auto">
										<p class="">Mas del 50% de sus AOI
											deben cumplir con el plazo correspondiente</p>
									</div>
								</div>
							</figure>
						</div>
						<div style="display:contents" dir="auto">
							<hr />
						</div>
						<div style="display:contents" dir="auto">
							<h2 class="">1.9 Fondos por Estrategia de
								Inversión </h2>
						</div>
						<div style="display:contents" dir="auto">
							<h3 class="">Fondos Indizados</h3>
						</div>
						<div style="display:contents" dir="auto">
							<p class="">Fondos que replican el comportamiento
								de un índice del mercado</p>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Estrategia de gestión pasiva</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Buscan igualar el rendimiento del índice </li>
							</ul>
						</div>
						<div style="display:contents" dir="ltr">
							<figure class="block-color-gray_background callout" style="white-space:normal;display:flex">
								<div style="font-size:1.5em"><span class="icon">💡</span></div>
								<div style="width:100%">
									<div style="display:contents" dir="auto">
										<p class="">Ejemplo: FI que replica el
											IPC de la BMV o el S&amp;P 500</p>
									</div>
								</div>
							</figure>
						</div>
						<div style="display:contents" dir="auto">
							<h3 class="">Fondos Especializados</h3>
						</div>
						<div style="display:contents" dir="auto">
							<p class="">Fondos que invierten al menos 80% de
								sus AOI en un tipo especifico de instrumento</p>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Deben mantener beta entre <strong>0.95 y 1.05</strong>
								</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<hr />
						</div>
						<div style="display:contents" dir="auto">
							<h2 class="">1.10 Tipos Especiales de Fondos</h2>
						</div>
						<div style="display:contents" dir="auto">
							<h3 class="">Fondos de Cobertura Cambiaria </h3>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Invierten en AOI denominados en dólares</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Protegen al inversionista de variaciones del tipo de
									cambio</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<h3 class="">Fondos de Mercado de Dinero </h3>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Invierten 100% en instrumentos de deuda de corto plazo
									(&lt;1 año)</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Se caracterizan por alta liquidez y bajo riesgo</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<h3 class="">Fondos Discrecionales </h3>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Dirigidos a inversionistas con mayor conocimiento
									financiero</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Permiten mayor flexibilidad en la estrategia de
									inversión </li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<h3 class="">Fondos ESG</h3>
						</div>
						<div style="display:contents" dir="auto">
							<p class="">Consideran criterios ambientales,
								sociales y de gobernanza en la selección de inversiones </p>
						</div>
						<div style="display:contents" dir="auto">
							<div class="column-list">
								<div style="display:contents" dir="auto">
									<div style="width:100%" class="column">
										<div style="display:contents" dir="auto">
											<ul class="bulleted-list">
												<li style="list-style-type:disc">E: Ambiental</li>
											</ul>
										</div>
									</div>
								</div>
								<div style="display:contents" dir="auto">
									<div style="width:100%" class="column">
										<div style="display:contents" dir="auto">
											<ul class="bulleted-list">
												<li style="list-style-type:disc">S: Social</li>
											</ul>
										</div>
									</div>
								</div>
								<div style="display:contents" dir="auto">
									<div style="width:100%" class="column">
										<div style="display:contents" dir="auto">
											<ul class="bulleted-list">
												<li style="list-style-type:disc">G: Gobernanza</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div style="display:contents" dir="auto">
							<h3 class="">Fondo de Fondos</h3>
						</div>
						<div style="display:contents" dir="auto">
							<p class="">Fondo que invierte mayoritariamente en
								acciones de otros fondos de inversión</p>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Debe invertir en al menos dos fondos</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">No puede concentrar mas del 45% en un solo fondo </li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<hr />
						</div>
						<div style="display:contents" dir="auto">
							<h2 class="">1.11 Operaciones y Prohibiciones</h2>
						</div>
						<div style="display:contents" dir="auto">
							<h3 class="">Operaciones permitidas</h3>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="1">
								<li>Comprar y vender AOI</li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="2">
								<li>Adquirir acciones de otros fondos</li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="3">
								<li>Emitir títulos de deuda del fondo</li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="4">
								<li>Celebrar reportos y préstamos de valores (solo como reportador o prestamista)</li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="5">
								<li>Adquirir y mantener acciones propias en tesorería <br />(no aplica a fondos de
									capitales o cerrados, salvo que coticen en bolsa) </li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="6">
								<li>Obtener préstamos o créditos de instituciones financieras</li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<h3 class="">Prohibiciones</h3>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="1">
								<li>Recibir depósitos de dinero o efectivo</li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="2">
								<li>Realizar operaciones activas de crédito</li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="3">
								<li>Otorgar aval o garantías a terceros</li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="4">
								<li>Operar las acciones que emiten a precio distinto al establecido</li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="5">
								<li>Dar en garantía bienes del patrimonio del fondo </li>
							</ol>
						</div>
					</div>
				</details>
			</div>
			<div style="display:contents" dir="auto">
				<details close="">
					<summary style="font-weight:600;font-size:1.875em;line-height:1.3;margin:0">2. Empresas prestadoras
						de Servicios</summary>
					<div class="indented">
						<div style="display:contents" dir="auto">
							<h2 class="">2.1 Sociedad Operadora</h2>
						</div>
						<div style="display:contents" dir="auto">
							<p class="">Institución financiera autorizada por
								la <strong>CNBV </strong>que administra carteras de inversión de fondos y terceros para
								generar rendimientos</p>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Capital mínimo: 2,400,000 UDIS</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Administra los activos del portafolio</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">La gestión puede ser activa o pasiva </li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<h3 class="">Documentos que Emite</h3>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="toggle">
								<li>
									<details close="">
										<summary>Prospecto de Información al Publico Inversionista (PIPI)</summary>
										<div style="display:contents" dir="auto">
											<p class="">Documento legal que
												describe las características del fondo y proporciona información para la
												toma de decisiones del inversionista</p>
										</div>
										<div style="display:contents" dir="auto">
											<p class="">
												<strong>Contenido</strong>:
											</p>
										</div>
										<div style="display:contents" dir="auto">
											<ul class="bulleted-list">
												<li style="list-style-type:disc"><strong>Objetivos</strong>: Activos en
													los que invierte el fondo según su categoría </li>
											</ul>
										</div>
										<div style="display:contents" dir="auto">
											<ul class="bulleted-list">
												<li style="list-style-type:disc"><strong>Horizonte de
														Inversión</strong>: Plazo mínimo sugerido para mantener la
													inversión </li>
											</ul>
										</div>
										<div style="display:contents" dir="auto">
											<ul class="bulleted-list">
												<li style="list-style-type:disc"><strong>Politicas de
														Inversión</strong>: Estrategia que utiliza el fondo para generar
													rendimientos</li>
											</ul>
										</div>
										<div style="display:contents" dir="auto">
											<ul class="bulleted-list">
												<li style="list-style-type:disc"><strong>Régimen de Inversión</strong>:
													Activos permitidos y limites de inversión </li>
											</ul>
										</div>
										<div style="display:contents" dir="auto">
											<ul class="bulleted-list">
												<li style="list-style-type:disc"><strong>Riesgos de Inversión</strong>:
													Principales riesgos del fondo </li>
											</ul>
										</div>
										<div style="display:contents" dir="auto">
											<ul class="bulleted-list">
												<li style="list-style-type:disc"><strong>Rendimientos</strong>:
													Desempeño histórico y comparación con su benchmark </li>
											</ul>
										</div>
										<div style="display:contents" dir="auto">
											<ul class="bulleted-list">
												<li style="list-style-type:disc"><strong>Limites de tenencia
														accionaria</strong>: Máximo de acciones por inversionista</li>
											</ul>
										</div>
										<div style="display:contents" dir="auto">
											<ul class="bulleted-list">
												<li style="list-style-type:disc"><strong>Operación del fondo</strong>:
													Reglas generales de funcionamiento</li>
											</ul>
										</div>
										<div style="display:contents" dir="auto">
											<ul class="bulleted-list">
												<li style="list-style-type:disc"><strong>Politicas de compraventa de
														acciones: </strong>Condiciones para comprar o vender acciones
												</li>
											</ul>
										</div>
										<div style="display:contents" dir="auto">
											<ul class="bulleted-list">
												<li style="list-style-type:disc"><strong>Comisiones</strong>: Costos por
													administrar u operar el fondo</li>
											</ul>
										</div>
										<div style="display:contents" dir="auto">
											<ul class="bulleted-list">
												<li style="list-style-type:disc"><strong>VaR</strong>: Perdida máxima
													esperada con cierto nivel de confianza</li>
											</ul>
										</div>
									</details>
								</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="toggle">
								<li>
									<details close="">
										<summary>Documento con Información Clave para el Inversionista (DICI)</summary>
										<div style="display:contents" dir="auto">
											<p class="">Documento que resume
												la información del prospecto para facilitar la decision de inversión</p>
										</div>
										<div style="display:contents" dir="ltr">
											<figure class="block-color-gray_background callout"
												style="white-space:normal;display:flex">
												<div style="font-size:1.5em"><span class="icon">💡</span></div>
												<div style="width:100%">
													<div style="display:contents" dir="auto">
														<p class="">Resumen
															del PIPI</p>
													</div>
												</div>
											</figure>
										</div>
									</details>
								</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<hr />
						</div>
						<div style="display:contents" dir="auto">
							<h2 class="">2.2 Distribuidora de Acciones</h2>
						</div>
						<div style="display:contents" dir="auto">
							<p class="">Entidad autorizada por la CNBV
								encargada de distribuir acciones de los fondos de inversión y proporcionar promoción,
								asesoría y operaciones de compra y venta </p>
						</div>
						<div style="display:contents" dir="auto">
							<h3 class="">Tipos de distribuidoras </h3>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc"><strong>Referenciadora</strong>: Solo capta clientes
								</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc"><strong>Integral</strong>: Promoción, asesoría,
									liquidación de operaciones y emisión de estados de cuenta<div
										style="display:contents" dir="auto">
										<ul class="block-color-purple_background bulleted-list">
											<li style="list-style-type:circle">Es la única que emite estados de cuenta
											</li>
										</ul>
									</div>
								</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<h3 class="">Estado de Cuenta </h3>
						</div>
						<div style="display:contents" dir="auto">
							<p class="">Documento enviado periódicamente al
								inversionista con la información de sus inversiones</p>
						</div>
						<div style="display:contents" dir="auto">
							<p class=""><strong>Incluye</strong>: </p>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="1">
								<li>Datos del cliente</li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="2">
								<li>Posición de acciones del fondo<div style="display:contents" dir="auto">
										<ol type="a" class="block-color-purple_background numbered-list" start="1">
											<li>Valuadas al último día del periodo correspondiente y del periodo
												anterior</li>
										</ol>
									</div>
								</li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="3">
								<li>Movimientos del periodo</li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="4">
								<li>Información adicional relevante</li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="5">
								<li>Plazo para aclaraciones (<strong>90 dias</strong>)<div style="display:contents"
										dir="auto">
										<ul class="bulleted-list">
											<li style="list-style-type:disc">La institución tiene <strong>45
													dias</strong> para responder aclaraciones</li>
										</ul>
									</div>
								</li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<hr />
						</div>
						<div style="display:contents" dir="auto">
							<h2 class="">2.3 Proveedora de Precios</h2>
						</div>
						<div style="display:contents" dir="auto">
							<p class="">Persona moral que calcula y
								proporciona precios actualizados de valores e instrumentos financieros para su valuación
							</p>
						</div>
						<div style="display:contents" dir="auto">
							<hr />
						</div>
						<div style="display:contents" dir="auto">
							<h2 class="">2.4 Valuadora de Acciones</h2>
						</div>
						<div style="display:contents" dir="auto">
							<p class="">Institución que determina el precio o
								valor contable de las acciones de los fondos de inversión</p>
						</div>
						<div style="display:contents" dir="auto">
							<blockquote class="">La valuadora utiliza los
								precios proporcionados por la <strong>proveedora de precios</strong> para determinar el
								valor de los activos del fondo</blockquote>
						</div>
						<div style="display:contents" dir="auto">
							<h3 class="">Calculo del precio de la acción</h3>
						</div>
						<div style="display:contents" dir="auto">
							<figure class="equation">
								<style>
									@import url('https://cdn.jsdelivr.net/npm/katex@0.16.25/dist/katex-swap.min.css');
								</style>
								<div class="equation-container"><span class="katex-display"><span class="katex"><span
												class="katex-mathml"><math xmlns="http://www.w3.org/1998/Math/MathML"
													display="block">
													<semantics>
														<mrow>
															<mrow>
																<mtext>Precio de la Acci</mtext>
																<mover accent="true">
																	<mtext>o</mtext>
																	<mo>ˊ</mo>
																</mover>
																<mtext>n</mtext>
															</mrow>
															<mo>=</mo>
															<mfrac>
																<mrow>
																	<mo stretchy="false">(</mo>
																	<mtext>Activos Totales</mtext>
																	<mo>−</mo>
																	<mtext>Pasivos Totales</mtext>
																	<mo stretchy="false">)</mo>
																</mrow>
																<mrow>
																	<mtext>No. de acciones en circulaci</mtext>
																	<mover accent="true">
																		<mtext>o</mtext>
																		<mo>ˊ</mo>
																	</mover>
																	<mtext>n</mtext>
																</mrow>
															</mfrac>
														</mrow>
														<annotation encoding="application/x-tex">\text{Precio de la
															Acción}=\frac{(\text{Activos Totales}-\text{Pasivos
															Totales})}{\text{No. de acciones en circulación}}
														</annotation>
													</semantics>
												</math></span><span class="katex-html" aria-hidden="true"><span
													class="base"><span class="strut"
														style="height:0.6944em;"></span><span class="mord text"><span
															class="mord">Precio de la Acci</span><span
															class="mord accent"><span class="vlist-t"><span
																	class="vlist-r"><span class="vlist"
																		style="height:0.6944em;"><span
																			style="top:-3em;"><span class="pstrut"
																				style="height:3em;"></span><span
																				class="mord">o</span></span><span
																			style="top:-3em;"><span class="pstrut"
																				style="height:3em;"></span><span
																				class="accent-body"
																				style="left:-0.25em;"><span
																					class="mord">ˊ</span></span></span></span></span></span></span><span
															class="mord">n</span></span><span class="mspace"
														style="margin-right:0.2778em;"></span><span
														class="mrel">=</span><span class="mspace"
														style="margin-right:0.2778em;"></span></span><span
													class="base"><span class="strut"
														style="height:2.113em;vertical-align:-0.686em;"></span><span
														class="mord"><span class="mopen nulldelimiter"></span><span
															class="mfrac"><span class="vlist-t vlist-t2"><span
																	class="vlist-r"><span class="vlist"
																		style="height:1.427em;"><span
																			style="top:-2.314em;"><span class="pstrut"
																				style="height:3em;"></span><span
																				class="mord"><span
																					class="mord text"><span
																						class="mord">No. de acciones en circulaci</span><span
																						class="mord accent"><span
																							class="vlist-t"><span
																								class="vlist-r"><span
																									class="vlist"
																									style="height:0.6944em;"><span
																										style="top:-3em;"><span
																											class="pstrut"
																											style="height:3em;"></span><span
																											class="mord">o</span></span><span
																										style="top:-3em;"><span
																											class="pstrut"
																											style="height:3em;"></span><span
																											class="accent-body"
																											style="left:-0.25em;"><span
																												class="mord">ˊ</span></span></span></span></span></span></span><span
																						class="mord">n</span></span></span></span><span
																			style="top:-3.23em;"><span class="pstrut"
																				style="height:3em;"></span><span
																				class="frac-line"
																				style="border-bottom-width:0.04em;"></span></span><span
																			style="top:-3.677em;"><span class="pstrut"
																				style="height:3em;"></span><span
																				class="mord"><span
																					class="mopen">(</span><span
																					class="mord text"><span
																						class="mord">Activos Totales</span></span><span
																					class="mspace"
																					style="margin-right:0.2222em;"></span><span
																					class="mbin">−</span><span
																					class="mspace"
																					style="margin-right:0.2222em;"></span><span
																					class="mord text"><span
																						class="mord">Pasivos Totales</span></span><span
																					class="mclose">)</span></span></span></span><span
																		class="vlist-s">​</span></span><span
																	class="vlist-r"><span class="vlist"
																		style="height:0.686em;"><span></span></span></span></span></span><span
															class="mclose nulldelimiter"></span></span></span></span></span></span>
								</div>
							</figure>
						</div>
						<div style="display:contents" dir="ltr">
							<figure class="block-color-purple_background callout"
								style="white-space:normal;display:flex">
								<div style="font-size:1.5em"><span class="icon">💡</span></div>
								<div style="width:100%">
									<div style="display:contents" dir="auto">
										<p class="">La fórmula también incluye
											las acciones en tesorería</p>
									</div>
								</div>
							</figure>
						</div>
						<div style="display:contents" dir="auto">
							<h3 class="">Utilidad </h3>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Determinar el precio de compra y venta de las acciones
									del fondo</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Calcular rendimientos entre fechas</li>
							</ul>
						</div>
						<div style="display:contents" dir="ltr">
							<figure class="block-color-gray_background callout" style="white-space:normal;display:flex">
								<div style="font-size:1.5em"><span class="icon">💡</span></div>
								<div style="width:100%">
									<div style="display:contents" dir="auto">
										<p class="">Se le conoce como
											Operadora Limitada</p>
									</div>
								</div>
							</figure>
						</div>
						<div style="display:contents" dir="auto">
							<hr />
						</div>
						<div style="display:contents" dir="auto">
							<h2 class="">2.5 Calificadora</h2>
						</div>
						<div style="display:contents" dir="auto">
							<p class="">Sociedad autorizada por la CNBV que
								evalúa fondos de inversión en instrumentos de deuda según su riesgo de crédito y mercado
							</p>
						</div>
						<div style="display:contents" dir="ltr">
							<figure class="block-color-gray_background callout" style="white-space:normal;display:flex">
								<div style="font-size:1.5em"><span class="icon">💡</span></div>
								<div style="width:100%">
									<div style="display:contents" dir="auto">
										<p class="">Solo los <strong>FIID
											</strong>son calificados, así como los activos que integran su cartera</p>
									</div>
								</div>
							</figure>
						</div>
						<div style="display:contents" dir="ltr">
							<figure class="image"><a href="../assets/fondos-de-inversion/image-2.png"><img
										style="width:681.9375px" src="../assets/fondos-de-inversion/image-2.png" /></a>
							</figure>
						</div>
						<div style="display:contents" dir="auto">
							<hr />
						</div>
						<div style="display:contents" dir="auto">
							<h2 class="">2.6 Depósito y Custodia</h2>
						</div>
						<div style="display:contents" dir="auto">
							<p class="">Servicio mediante el cual se
								resguardan los valores que integran los fondos de inversión.</p>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Lo proporciona <strong>S.D. INDEVAL</strong></li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<hr />
						</div>
						<div style="display:contents" dir="auto">
							<h2 class="">2.7 Diferencias entre FIs, ETFs y
								Siefores</h2>
						</div>
						<div style="display:contents" dir="auto">
							<h3 class="">Fondos de Inversión </h3>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Se conforma como <strong>Sociedad Anónima</strong></li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">El precio de la acción lo determina la valuadora</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Cobran <strong>varias comisiones</strong></li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Cotiza en el <strong>mercado extrabursátil </strong>
								</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Supervisado por la <strong>CNBV</strong></li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Administrado por <strong>operadoras de fondos</strong>
								</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<h3 class="">ETF</h3>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Se conforma como <strong>fideicomiso</strong></li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">El precio lo determina la oferta y la demanda</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Tiene <strong>comisiones muy bajas</strong></li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Cotiza en el <strong>mercado de capitales</strong></li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<h3 class="">Siefores</h3>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Supervisadas por la <strong>CONSAR</strong></li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Administradas por <strong>AFORES</strong></li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Los trabajadores aportan recursos para su
									<strong>retiro</strong>
								</li>
							</ul>
						</div>
					</div>
				</details>
			</div>
			<div style="display:contents" dir="auto">
				<details close="">
					<summary style="font-weight:600;font-size:1.875em;line-height:1.3;margin:0">3. Valuación y
						Calificación</summary>
					<div class="indented">
						<div style="display:contents" dir="auto">
							<h2 class="">3.1 Conceptos de Valuación</h2>
						</div>
						<div style="display:contents" dir="ltr">
							<figure class="image"><a href="../assets/fondos-de-inversion/image-3.png"><img
										style="width:681.984375px"
										src="../assets/fondos-de-inversion/image-3.png" /></a></figure>
						</div>
						<div style="display:contents" dir="ltr">
							<figure class="block-color-gray_background callout" style="white-space:normal;display:flex">
								<div style="font-size:1.5em"><span class="icon">💡</span></div>
								<div style="width:100%">
									<div style="display:contents" dir="auto">
										<p class="">Depreciación <strong>≠
												Devaluación</strong>: Reducción del valor de una moneda cuando el
											gobierno fija o modifica oficialmente el tipo de cambio</p>
									</div>
								</div>
							</figure>
						</div>
						<div style="display:contents" dir="auto">
							<hr />
						</div>
						<div style="display:contents" dir="auto">
							<h2 class="">3.2 Factores que afectan el precio de
								las acciones de un FI</h2>
						</div>
						<div style="display:contents" dir="ltr">
							<figure class="image"><a href="../assets/fondos-de-inversion/image-4.png"><img
										style="width:681.96875px" src="../assets/fondos-de-inversion/image-4.png" /></a>
							</figure>
						</div>
						<div style="display:contents" dir="auto">
							<hr />
						</div>
						<div style="display:contents" dir="auto">
							<h2 class="">3.3 Sobrevaluación y Subvaluación
							</h2>
						</div>
						<div style="display:contents" dir="auto">
							<div class="column-list">
								<div style="display:contents" dir="auto">
									<div style="width:50%" class="column">
										<div style="display:contents" dir="auto">
											<p class="">
												<strong>Sobrevaluación</strong>: Ajuste <strong>hacia arriba</strong> en
												el precio contable de la acción cuando existen compras significativas e
												inusuales
											</p>
										</div>
										<div style="display:contents" dir="auto">
											<ul class="bulleted-list">
												<li style="list-style-type:disc">CNBV autoriza al FI a vender sus
													acciones mas caras</li>
											</ul>
										</div>
									</div>
								</div>
								<div style="display:contents" dir="auto">
									<div style="width:50%" class="column">
										<div style="display:contents" dir="auto">
											<p class="">
												<strong>Subvaluación</strong>: Ajuste <strong>hacia abajo </strong>en el
												precio contable de la acción cuando existen ventas significativas e
												inusuales
											</p>
										</div>
										<div style="display:contents" dir="auto">
											<ul class="bulleted-list">
												<li style="list-style-type:disc">CNBV autoriza al FI a comprar sus
													acciones mas baratas</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div style="display:contents" dir="auto">
							<blockquote class="">Funciona como mecanismo de
								protección para los inversionistas que permanecen en el fondo</blockquote>
						</div>
						<div style="display:contents" dir="auto">
							<hr />
						</div>
						<div style="display:contents" dir="auto">
							<h2 class="">3.4 Administración Integral de
								Riesgos</h2>
						</div>
						<div style="display:contents" dir="auto">
							<p class="">Proceso de identificar, medir, vigilar
								y controlar los riesgos a los que están expuestos los fondos de inversión</p>
						</div>
						<div style="display:contents" dir="auto">
							<h3 class="">Funciones del responsable de riesgos
							</h3>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Proponer metodologías y modelos para identificar, medir
									y controlar riesgos</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Informar la exposición al riesgo del fondo y sus
									posibles efectos</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Elaborar metodologías para la valuación, medición y
									control de riesgos</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<h3 class="">Clasificación de los riesgos</h3>
						</div>
						<div style="display:contents" dir="ltr">
							<figure class="image"><a href="../assets/fondos-de-inversion/image-5.png"><img
										style="width:681.984375px"
										src="../assets/fondos-de-inversion/image-5.png" /></a></figure>
						</div>
					</div>
				</details>
			</div>
		</div>
	</article><span class="sans" style="font-size:14px;padding-top:2em"></span>
</body>

</html>