<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Riesgos</title>
    <link rel="icon" type="image/png" href="../assets/icon.png" />
    <link rel="stylesheet" href="../style.css">

    <!-- KaTeX -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.25/dist/katex.min.css">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.25/dist/katex.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.25/dist/contrib/auto-render.min.js"
        onload="renderMathInElement(document.body);"></script>
</head>

<body>
    <article class="page sans">
        <header><img class="page-cover-image" src="../assets/header.jpg"
                style="object-position:center 89.49000000000001%" />
            <div class="nav-button">
                <button onclick="window.history.back()">← Regresar</button>
            </div>
            <div class="page-header-icon page-header-icon-with-cover"><img class="icon" src="../assets/icon.png" />
            </div>
            <h1 class="page-title" dir="auto">Riesgos</h1>
            <p class="page-description" dir="auto"></p>
        </header>
        <div class="page-body">
            <div style="display:contents" dir="auto">
                <details close="">
                    <summary style="font-weight:600;font-size:1.875em;line-height:1.3;margin:0">1. Fundamentos del
                        Riesgo</summary>
                    <div class="indented">
                        <div style="display:contents" dir="auto">
                            <h2 class="">1.1 Definicion</h2>
                        </div>
                        <div style="display:contents" dir="auto">
                            <p class=""><strong>Riesgo financiero:</strong>
                                Posibilidad de que ocurra un evento que genere pérdidas en los mercados financieros.
                            </p>
                        </div>
                        <div style="display:contents" dir="auto">
                            <hr />
                        </div>
                        <div style="display:contents" dir="auto">
                            <h2 class="">1.2 Conceptos clave</h2>
                        </div>
                        <div style="display:contents" dir="auto">
                            <ul class="bulleted-list">
                                <li style="list-style-type:disc"><strong>Rendimiento:</strong> Ganancia o pérdida de una
                                    inversión respecto al capital invertido, normalmente expresado en porcentaje.</li>
                            </ul>
                        </div>
                        <div style="display:contents" dir="auto">
                            <ul class="bulleted-list">
                                <li style="list-style-type:disc"><strong>Desviación estándar:</strong> Mide qué tanto
                                    varían los datos respecto a su promedio; indica qué tan dispersos están los
                                    rendimientos.</li>
                            </ul>
                        </div>
                        <div style="display:contents" dir="auto">
                            <ul class="bulleted-list">
                                <li style="list-style-type:disc"><strong>Volatilidad:</strong> Representa la variación
                                    de precios o rendimientos de un activo a lo largo del tiempo; mayor volatilidad
                                    implica mayor incertidumbre.</li>
                            </ul>
                        </div>
                        <div style="display:contents" dir="auto">
                            <ul class="bulleted-list">
                                <li style="list-style-type:disc"><strong>Varianza:</strong> Medida de dispersión que
                                    representa la desviación estándar al cuadrado.</li>
                            </ul>
                        </div>
                    </div>
                </details>
            </div>
            <div style="display:contents" dir="auto">
                <details close="">
                    <summary style="font-weight:600;font-size:1.875em;line-height:1.3;margin:0">2. Correlación y Riesgo
                        de Portafolio</summary>
                    <div class="indented">
                        <div style="display:contents" dir="auto">
                            <h2 class="">2.1 Definición</h2>
                        </div>
                        <div style="display:contents" dir="auto">
                            <p class=""><strong>Correlación</strong>: Relacion
                                lineal o dependencia que existe entre dos o más variantes</p>
                        </div>
                        <div style="display:contents" dir="auto">
                            <hr />
                        </div>
                        <div style="display:contents" dir="auto">
                            <h2 class="">2.2 Tipos de correlación</h2>
                        </div>
                        <div style="display:contents" dir="auto">
                            <h3 class="">Correlación positiva (+1)</h3>
                        </div>
                        <div style="display:contents" dir="auto">
                            <ul class="bulleted-list">
                                <li style="list-style-type:disc">Ambos activos se mueven en la misma dirección</li>
                            </ul>
                        </div>
                        <div style="display:contents" dir="auto">
                            <ul class="bulleted-list">
                                <li style="list-style-type:disc">Si uno sube, el otro también</li>
                            </ul>
                        </div>
                        <div style="display:contents" dir="ltr">
                            <figure class="image"><a
                                    href="../assets/derivados-financieros-y-riesgos/riesgos/image.png"><img
                                        style="width:304.9875183105469px"
                                        src="../assets/derivados-financieros-y-riesgos/riesgos/image.png" /></a>
                            </figure>
                        </div>
                        <div style="display:contents" dir="auto">
                            <h3 class="">Correlación nula (0)</h3>
                        </div>
                        <div style="display:contents" dir="auto">
                            <ul class="bulleted-list">
                                <li style="list-style-type:disc">No existe relación entre los activos</li>
                            </ul>
                        </div>
                        <div style="display:contents" dir="auto">
                            <ul class="bulleted-list">
                                <li style="list-style-type:disc">El movimiento de uno no afecta al otro</li>
                            </ul>
                        </div>
                        <div style="display:contents" dir="ltr">
                            <figure class="image"><a
                                    href="../assets/derivados-financieros-y-riesgos/riesgos/image-1.png"><img
                                        style="width:295.9875183105469px"
                                        src="../assets/derivados-financieros-y-riesgos/riesgos/image-1.png" /></a>
                            </figure>
                        </div>
                        <div style="display:contents" dir="auto">
                            <h3 class="">Correlación negativa (-1)</h3>
                        </div>
                        <div style="display:contents" dir="auto">
                            <ul class="bulleted-list">
                                <li style="list-style-type:disc">Los activos se mueven en direcciones opuestas</li>
                            </ul>
                        </div>
                        <div style="display:contents" dir="auto">
                            <ul class="bulleted-list">
                                <li style="list-style-type:disc">Si uno sube, el otro baja</li>
                            </ul>
                        </div>
                        <div style="display:contents" dir="ltr">
                            <figure class="image"><a
                                    href="../assets/derivados-financieros-y-riesgos/riesgos/image-2.png"><img
                                        style="width:323.9875183105469px"
                                        src="../assets/derivados-financieros-y-riesgos/riesgos/image-2.png" /></a>
                            </figure>
                        </div>
                    </div>
                </details>
            </div>
            <div style="display:contents" dir="auto">
                <details close="">
                    <summary style="font-weight:600;font-size:1.875em;line-height:1.3;margin:0">3. Sensibilidad en Bonos
                    </summary>
                    <div class="indented">
                        <div style="display:contents" dir="auto">
                            <h2 class="">3.1 Duración Macaulay</h2>
                        </div>
                        <div style="display:contents" dir="auto">
                            <p class=""><strong>Duración Macaulay:
                                </strong>Promedio ponderado del tiempo en que se reciben los flujos de un bono</p>
                        </div>
                        <div style="display:contents" dir="auto">
                            <p class="">Indica cuánto tarda en recuperarse la
                                inversión y mide sensibilidad en términos de <strong><span
                                        style="border-bottom:0.05em solid">tiempo</span></strong></p>
                        </div>
                        <div style="display:contents" dir="auto">
                            <hr />
                        </div>
                        <div style="display:contents" dir="auto">
                            <h2 class="">3.2 Duración Modificada</h2>
                        </div>
                        <div style="display:contents" dir="auto">
                            <p class=""><strong>Duración modificada:</strong>
                                Mide cuánto cambia el precio de un bono ante cambios en la tasa de interés; se expresa
                                en <strong><span style="border-bottom:0.05em solid">porcentaje</span></strong></p>
                        </div>
                        <div style="display:contents" dir="ltr">
                            <figure class="block-color-gray_background callout" style="white-space:normal;display:flex">
                                <div style="font-size:1.5em"><span class="icon">💡</span></div>
                                <div style="width:100%">
                                    <div style="display:contents" dir="auto">
                                        <p class=""><strong>Macaulay
                                            </strong>= tiempo<br /><strong>Modificada </strong>= sensibilidad</p>
                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>
                </details>
            </div>
            <div style="display:contents" dir="auto">
                <details close="">
                    <summary style="font-weight:600;font-size:1.875em;line-height:1.3;margin:0">4. Tipos de Riesgo
                    </summary>
                    <div class="indented">
                        <div style="display:contents" dir="ltr">
                            <figure class="image"><a
                                    href="../assets/derivados-financieros-y-riesgos/riesgos/image-3.png"><img
                                        style="width:506.7749938964844px"
                                        src="../assets/derivados-financieros-y-riesgos/riesgos/image-3.png" /></a>
                            </figure>
                        </div>
                        <div style="display:contents" dir="auto">
                            <h2 class="">4.1 Clasificación</h2>
                        </div>
                        <div style="display:contents" dir="auto">
                            <ul class="bulleted-list">
                                <li style="list-style-type:disc"><strong>Mercado</strong>:<br />Pérdidas por movimientos
                                    adversos en precios o tasas</li>
                            </ul>
                        </div>
                        <div style="display:contents" dir="auto">
                            <ul class="bulleted-list">
                                <li style="list-style-type:disc"><strong>Crédito</strong>:<br />Incumplimiento de pago
                                    por parte de un deudor</li>
                            </ul>
                        </div>
                        <div style="display:contents" dir="auto">
                            <ul class="bulleted-list">
                                <li style="list-style-type:disc"><strong>Liquidez</strong>:<br />Dificultad para vender
                                    activos sin perder valor</li>
                            </ul>
                        </div>
                        <div style="display:contents" dir="ltr">
                            <figure class="block-color-gray_background callout" style="white-space:normal;display:flex">
                                <div style="font-size:1.5em"><span class="icon">💡</span></div>
                                <div style="width:100%">
                                    <div style="display:contents" dir="auto">
                                        <p class="">El riesgo de liquidez se
                                            identifica cuando hay:<br /><strong>Una caída constante en el precio del
                                                activo.</strong></p>
                                    </div>
                                </div>
                            </figure>
                        </div>
                        <div style="display:contents" dir="auto">
                            <ul class="bulleted-list">
                                <li style="list-style-type:disc"><strong>Operacional</strong>:<br />Pérdidas por fallas
                                    internas, errores o sistemas</li>
                            </ul>
                        </div>
                        <div style="display:contents" dir="auto">
                            <ul class="bulleted-list">
                                <li style="list-style-type:disc"><strong>Sistémico:</strong> <br />Colapso del sistema
                                    financiero (efecto dominó)</li>
                            </ul>
                        </div>
                        <div style="display:contents" dir="auto">
                            <ul class="bulleted-list">
                                <li style="list-style-type:disc"><strong>Legal</strong>:<br />Incumplimiento de normas
                                    que genera sanciones</li>
                            </ul>
                        </div>
                        <div style="display:contents" dir="auto">
                            <ul class="bulleted-list">
                                <li style="list-style-type:disc"><strong>Corporativo</strong>:<br />Incumplimiento de
                                    pago de una empresa</li>
                            </ul>
                        </div>
                        <div style="display:contents" dir="auto">
                            <ul class="bulleted-list">
                                <li style="list-style-type:disc"><strong>Soberano</strong>:<br />Incumplimiento de pago
                                    de un país; afecta bonos, acciones y divisas</li>
                            </ul>
                        </div>
                        <div style="display:contents" dir="ltr">
                            <figure class="block-color-gray_background callout" style="white-space:normal;display:flex">
                                <div style="font-size:1.5em"><span class="icon">💡</span></div>
                                <div style="width:100%">
                                    <div style="display:contents" dir="auto">
                                        <p class="">Activos afectados por
                                            riesgo soberano:</p>
                                    </div>
                                    <div style="display:contents" dir="auto">
                                        <ul class="bulleted-list">
                                            <li style="list-style-type:disc">Bonos de gobierno federal mexicanos y
                                                acciones mexicanas</li>
                                        </ul>
                                    </div>
                                    <div style="display:contents" dir="auto">
                                        <ul class="bulleted-list">
                                            <li style="list-style-type:disc">Acciones mexicanas y cestas de divisas</li>
                                        </ul>
                                    </div>
                                </div>
                            </figure>
                        </div>
                        <div style="display:contents" dir="auto">
                            <ul class="bulleted-list">
                                <li style="list-style-type:disc"><strong>Contraparte</strong>:<br />Incumplimiento en
                                    operaciones financieras (especialmente derivados)</li>
                            </ul>
                        </div>
                    </div>
                </details>
            </div>
            <div style="display:contents" dir="auto">
                <details close="">
                    <summary style="font-weight:600;font-size:1.875em;line-height:1.3;margin:0">5. Medición del Riesgo
                    </summary>
                    <div class="indented">
                        <div style="display:contents" dir="auto">
                            <h2 class="">5.1 Valor en Riesgo (VaR)</h2>
                        </div>
                        <div style="display:contents" dir="auto">
                            <p class=""><strong>VaR:</strong> Estima la
                                pérdida máxima esperada de una inversión en un periodo determinado, bajo un nivel de
                                confianza (95% o 99%)</p>
                        </div>
                        <div style="display:contents" dir="auto">
                            <hr />
                        </div>
                        <div style="display:contents" dir="auto">
                            <h2 class="">5.2 VaR Absoluto vs Relativo</h2>
                        </div>
                        <div style="display:contents" dir="ltr">
                            <table class="simple-table">
                                <thead class="simple-table-header">
                                    <div style="display:contents" dir="ltr">
                                        <tr>
                                            <th id="ykS^" class="simple-table-header-color simple-table-header"
                                                style="width:167.66250610351562px">Característica</th>
                                            <th id="e:Qj" class="simple-table-header-color simple-table-header"
                                                style="width:231.66250610351562px">VaR Absoluto</th>
                                            <th id="U[@T" class="simple-table-header-color simple-table-header"
                                                style="width:241.66250610351562px">VaR Relativo</th>
                                        </tr>
                                    </div>
                                </thead>
                                <tbody>
                                    <div style="display:contents" dir="ltr">
                                        <tr>
                                            <th id="ykS^" class="simple-table-header-color simple-table-header"
                                                style="width:167.66250610351562px">Definición</th>
                                            <td id="e:Qj" class="" style="width:231.66250610351562px">Estima la pérdida
                                                máxima esperada en términos monetarios</td>
                                            <td id="U[@T" class="" style="width:241.66250610351562px">Estima la pérdida
                                                respecto a un portafolio de referencia</td>
                                        </tr>
                                    </div>
                                    <div style="display:contents" dir="ltr">
                                        <tr>
                                            <th id="ykS^" class="simple-table-header-color simple-table-header"
                                                style="width:167.66250610351562px">Rendimiento esperado</th>
                                            <td id="e:Qj" class="" style="width:231.66250610351562px">No lo considera
                                            </td>
                                            <td id="U[@T" class="" style="width:241.66250610351562px">Sí lo considera
                                            </td>
                                        </tr>
                                    </div>
                                    <div style="display:contents" dir="ltr">
                                        <tr>
                                            <th id="ykS^" class="simple-table-header-color simple-table-header"
                                                style="width:167.66250610351562px">Valor esperado</th>
                                            <td id="e:Qj" class="" style="width:231.66250610351562px">Sí lo considera
                                            </td>
                                            <td id="U[@T" class="" style="width:241.66250610351562px">Sí lo considera
                                            </td>
                                        </tr>
                                    </div>
                                    <div style="display:contents" dir="ltr">
                                        <tr>
                                            <th id="ykS^" class="simple-table-header-color simple-table-header"
                                                style="width:167.66250610351562px">Unidad</th>
                                            <td id="e:Qj" class="" style="width:231.66250610351562px">Dinero (Valor
                                                nominal)</td>
                                            <td id="U[@T" class="" style="width:241.66250610351562px">Porcentaje
                                                (decimales)</td>
                                        </tr>
                                    </div>
                                </tbody>
                            </table>
                        </div>
                        <div style="display:contents" dir="auto">
                            <hr />
                        </div>
                        <div style="display:contents" dir="auto">
                            <h2 class="">5.3 CVA y FVA</h2>
                        </div>
                        <div style="display:contents" dir="auto">
                            <ul class="bulleted-list">
                                <li style="list-style-type:disc"><strong>CVA:</strong> Ajuste al valor de derivados por
                                    riesgo de incumplimiento de la contraparte</li>
                            </ul>
                        </div>
                        <div style="display:contents" dir="auto">
                            <ul class="bulleted-list">
                                <li style="list-style-type:disc"><strong>FVA:</strong> Ajuste por costo de
                                    financiamiento de mantener la posición</li>
                            </ul>
                        </div>
                        <div style="display:contents" dir="auto">
                            <blockquote class=""><strong>CVA </strong>= riesgo
                                de default<br /><strong>FVA </strong>= costo financiero</blockquote>
                        </div>
                    </div>
                </details>
            </div>
            <div style="display:contents" dir="auto">
                <details close="">
                    <summary style="font-weight:600;font-size:1.875em;line-height:1.3;margin:0">6. Agencias
                        Calificadoras</summary>
                    <div class="indented">
                        <div style="display:contents" dir="auto">
                            <h3 class="">6.1 Definición</h3>
                        </div>
                        <div style="display:contents" dir="auto">
                            <p class=""><strong>Agencias
                                    calificadoras:</strong> Instituciones que evalúan la capacidad de pago de emisores
                                de deuda y asignan una calificación crediticia</p>
                        </div>
                        <div style="display:contents" dir="auto">
                            <hr />
                        </div>
                        <div style="display:contents" dir="auto">
                            <h3 class="">6.2 Función</h3>
                        </div>
                        <div style="display:contents" dir="auto">
                            <ul class="bulleted-list">
                                <li style="list-style-type:disc">Analizan la salud financiera</li>
                            </ul>
                        </div>
                        <div style="display:contents" dir="auto">
                            <ul class="bulleted-list">
                                <li style="list-style-type:disc">Evalúan riesgo de incumplimiento</li>
                            </ul>
                        </div>
                        <div style="display:contents" dir="auto">
                            <ul class="bulleted-list">
                                <li style="list-style-type:disc">Influyen en decisiones de inversión</li>
                            </ul>
                        </div>
                        <div style="display:contents" dir="auto">
                            <hr />
                        </div>
                        <div style="display:contents" dir="auto">
                            <h3 class="">6.3 Escala en México</h3>
                        </div>
                        <div style="display:contents" dir="ltr">
                            <figure class="image"><a
                                    href="../assets/derivados-financieros-y-riesgos/riesgos/image-4.png"><img
                                        style="width:912px"
                                        src="../assets/derivados-financieros-y-riesgos/riesgos/image-4.png" /></a>
                            </figure>
                        </div>
                        <div style="display:contents" dir="auto">
                            <hr />
                        </div>
                        <div style="display:contents" dir="auto">
                            <h3 class="">6.4 Impacto de la calificación</h3>
                        </div>
                        <div style="display:contents" dir="auto">
                            <ul class="bulleted-list">
                                <li style="list-style-type:disc">Baja calificación → mayor riesgo</li>
                            </ul>
                        </div>
                        <div style="display:contents" dir="auto">
                            <ul class="bulleted-list">
                                <li style="list-style-type:disc">Aumenta probabilidad de incumplimiento</li>
                            </ul>
                        </div>
                        <div style="display:contents" dir="auto">
                            <ul class="bulleted-list">
                                <li style="list-style-type:disc">Disminuye precio del bono</li>
                            </ul>
                        </div>
                    </div>
                </details>
            </div>
            <div style="display:contents" dir="auto">
                <details close="">
                    <summary style="font-weight:600;font-size:1.875em;line-height:1.3;margin:0">7. Sensibilidades
                    </summary>
                    <div class="indented">
                        <div style="display:contents" dir="auto">
                            <p class=""><strong>DV01:</strong> <br />Cambio en
                                el precio de un bono ante un movimiento de 1 punto base en tasas.</p>
                        </div>
                        <div style="display:contents" dir="auto">
                            <p class=""><strong>Delta:</strong> <br />Cambio
                                en el precio de una opción ante cambios en el subyacente.</p>
                        </div>
                        <div style="display:contents" dir="auto">
                            <p class=""><strong>Beta:</strong> <br />Mide qué
                                tan sensible es una acción respecto al mercado.</p>
                        </div>
                        <ul>
                            <li>\(\beta > 1\) → más volátil</li>
                            <li>\(\beta < 1\) → menos volátil</li>
                            <li>\(\beta = 1\) → igual al mercado</li>
                            <li>\(\beta < 0\) → comportamiento inverso</li>
                        </ul>
                    </div>
                </details>
            </div>
        </div>
    </article><span class="sans" style="font-size:14px;padding-top:2em"></span>
</body>

</html>