<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Servicios de Inversión</title>
	<link rel="stylesheet" href="../style.css">
</head>

<body>
	<article class="page sans">
		<header><img class="page-cover-image" src="../assets/header.jpg" style="object-position:center 78.12%" />
			<div class="page-header-icon page-header-icon-with-cover"><img class="icon" src="../assets/icon.png" />
			</div>
			<h1 class="page-title" dir="auto">Servicios de Inversión</h1>
			<p class="page-description" dir="auto"></p>
		</header>
		<div class="page-body">
			<div style="display:contents" dir="auto">
				<details close="">
					<summary style="font-weight:600;font-size:1.875em;line-height:1.3;margin:0">1. Marco Conceptual de
						Servicios de Inversión </summary>
					<div class="indented">
						<div style="display:contents" dir="auto">
							<h2 class="">1.1 Estructura (Mapa Mental)</h2>
						</div>
						<div style="display:contents" dir="auto">
							<h3 class="">Servicios de Inversion </h3>
						</div>
						<div style="display:contents" dir="ltr">
							<figure class="image"><a href="../assets/servicios-de-inversion/image-2.png"><img
										style="width:768px" src="../assets/servicios-de-inversion/image-2.png" /></a>
							</figure>
						</div>
						<div style="display:contents" dir="auto">
							<h3 class="">Contratación con la Clientela </h3>
						</div>
						<div style="display:contents" dir="ltr">
							<figure class="image"><a href="../assets/servicios-de-inversion/image.png"><img
										style="width:513.9874877929688px"
										src="../assets/servicios-de-inversion/image.png" /></a></figure>
						</div>
						<div style="display:contents" dir="auto">
							<hr />
						</div>
						<div style="display:contents" dir="auto">
							<h2 class="">1.2 Definiciones Clave</h2>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc"><strong>Analistas: </strong>
									<div style="display:contents" dir="auto">
										<ul class="bulleted-list">
											<li style="list-style-type:circle"><mark class="highlight-default"><mark
														class="highlight-default_background">Elaboran reportes
														financieros</mark></mark> sobre emisoras, valores o mercados
												para difusión publica </li>
										</ul>
									</div>
								</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc"><strong>Reportes de análisis: </strong>
									<div style="display:contents" dir="auto">
										<ul class="bulleted-list">
											<li style="list-style-type:circle">Información financiera con análisis y
												opiniones para apoyar decisiones de inversion </li>
										</ul>
									</div>
								</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc"><strong>Areas de negocio: </strong>
									<div style="display:contents" dir="auto">
										<ul class="bulleted-list">
											<li style="list-style-type:circle">Areas de la entidad financiera o asesor
												responsables de servicios de inversión </li>
										</ul>
									</div>
								</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc"><strong>Productos financieros: </strong>
									<div style="display:contents" dir="auto">
										<ul class="bulleted-list">
											<li style="list-style-type:circle">Valores, derivados, estrategias o
												carteras de inversión </li>
										</ul>
									</div>
								</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc"><strong>Estrategias de inversion: </strong>
									<div style="display:contents" dir="auto">
										<ul class="bulleted-list">
											<li style="list-style-type:circle">Lineamientos definidos para invertir
												según mercado y activos </li>
										</ul>
									</div>
								</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<hr />
						</div>
						<div style="display:contents" dir="auto">
							<h2 class="">1.3 Servicios de Inversión </h2>
						</div>
						<div style="display:contents" dir="auto">
							<p class="">Servicios financieros ofrecidos
								profesionalmente a clientes, asesorados o no asesorados </p>
						</div>
						<div style="display:contents" dir="auto">
							<h3 class="">Servicios de Inversion Asesorados
							</h3>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc"><strong>Asesoría de Inversiones:</strong>
									<div style="display:contents" dir="auto">
										<ul class="bulleted-list">
											<li style="list-style-type:circle">Recomendaciones personalizadas según el
												perfil del cliente</li>
										</ul>
									</div>
									<div style="display:contents" dir="auto">
										<ul class="bulleted-list">
											<li style="list-style-type:circle">Puede originarse por solicitud del
												cliente o iniciativa de la entidad </li>
										</ul>
									</div>
									<div style="display:contents" dir="ltr">
										<figure class="block-color-gray_background callout"
											style="white-space:normal;display:flex">
											<div style="font-size:1.5em"><span class="icon">💡</span></div>
											<div style="width:100%">
												<div style="display:contents" dir="auto">
													<p class="">La asesoría no
														implica ejecución de operaciones </p>
												</div>
											</div>
										</figure>
									</div>
								</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc"><strong>Gestión de Inversiones: </strong>
									<div style="display:contents" dir="auto">
										<ul class="bulleted-list">
											<li style="list-style-type:circle">La entidad toma decisiones por cuenta del
												cliente</li>
										</ul>
									</div>
									<div style="display:contents" dir="auto">
										<ul class="bulleted-list">
											<li style="list-style-type:circle">Manejo discrecional de la cuenta </li>
										</ul>
									</div>
								</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<h3 class="">Servicios de Inversion no Asesorados
							</h3>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc"><strong>Comercialización o promoción: </strong>
									<div style="display:contents" dir="auto">
										<ul class="bulleted-list">
											<li style="list-style-type:circle">Recomendaciones generales sobre productos
												o servicios </li>
										</ul>
									</div>
									<div style="display:contents" dir="auto">
										<ul class="bulleted-list">
											<li style="list-style-type:circle">No considera el perfil del cliente </li>
										</ul>
									</div>
								</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc"><strong>Ejecución de operaciones: </strong>
									<div style="display:contents" dir="auto">
										<ul class="bulleted-list">
											<li style="list-style-type:circle">Recepción y ejecución de ordenes
												exactamente como las instruye el cliente</li>
										</ul>
									</div>
								</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<hr />
						</div>
						<div style="display:contents" dir="auto">
							<h2 class="">1.4 Clasificación y Régimen de
								Clientes</h2>
						</div>
						<div style="display:contents" dir="auto">
							<details close="">
								<summary style="font-weight:600;font-size:1.25em;line-height:1.3;margin:0">Gran Publico
									Inversionista </summary>
								<div class="indented">
									<div style="display:contents" dir="auto">
										<ul class="bulleted-list">
											<li style="list-style-type:disc">Cualquier persona que invierte en el
												mercado </li>
										</ul>
									</div>
								</div>
							</details>
						</div>
						<div style="display:contents" dir="auto">
							<details close="">
								<summary style="font-weight:600;font-size:1.25em;line-height:1.3;margin:0">Clientes
									Institucionales </summary>
								<div class="indented">
									<div style="display:contents" dir="auto">
										<ul class="bulleted-list">
											<li style="list-style-type:disc">Instituciones financieras que invierten
												profesionalmente </li>
										</ul>
									</div>
								</div>
							</details>
						</div>
						<div style="display:contents" dir="auto">
							<details close="">
								<summary style="font-weight:600;font-size:1.25em;line-height:1.3;margin:0">Clientes
									Calificados </summary>
								<div class="indented">
									<div style="display:contents" dir="auto">
										<ul class="bulleted-list">
											<li style="list-style-type:disc">Persona con alto nivel de inversion o
												ingresos que puede contratar ciertos servicios con menores restricciones
												regulatorias </li>
										</ul>
									</div>
									<div style="display:contents" dir="auto">
										<h3 class="">Tipos de Cliente
											Calificado </h3>
									</div>
									<div style="display:contents" dir="auto">
										<ol type="1" class="numbered-list" start="1">
											<li>Calificado básico <div style="display:contents" dir="auto">
													<ul class="bulleted-list">
														<li style="list-style-type:disc">1,500,000 UDIS en inversiones
														</li>
													</ul>
												</div>
												<div style="display:contents" dir="auto">
													<ul class="bulleted-list">
														<li style="list-style-type:disc">o 500,000 UDIS de ingresos
															(últimos 2 años) </li>
													</ul>
												</div>
											</li>
										</ol>
									</div>
									<div style="display:contents" dir="auto">
										<ol type="1" class="numbered-list" start="2">
											<li>Calificado sofisticado <div style="display:contents" dir="auto">
													<ul class="bulleted-list">
														<li style="list-style-type:disc">3,000,000 UDIS en inversiones
														</li>
													</ul>
												</div>
												<div style="display:contents" dir="auto">
													<ul class="bulleted-list">
														<li style="list-style-type:disc">o 1,000,000 UDIS de ingresos
															(últimos 2 años) </li>
													</ul>
												</div>
											</li>
										</ol>
									</div>
									<div style="display:contents" dir="auto">
										<ol type="1" class="numbered-list" start="3">
											<li>Con invitación a oferta publica restringida <div
													style="display:contents" dir="auto">
													<ul class="bulleted-list">
														<li style="list-style-type:disc">20,000,000 UDIS en inversiones
														</li>
													</ul>
												</div>
											</li>
										</ol>
									</div>
									<div style="display:contents" dir="auto">
										<h3 class="">Requisitos Normativos
										</h3>
									</div>
									<div style="display:contents" dir="auto">
										<ul class="bulleted-list">
											<li style="list-style-type:disc">Carta firmada (Anexo 1)<div
													style="display:contents" dir="auto">
													<ul class="bulleted-list">
														<li style="list-style-type:circle">Apartado A: asesoría</li>
													</ul>
												</div>
												<div style="display:contents" dir="auto">
													<ul class="bulleted-list">
														<li style="list-style-type:circle">Apartado B: ejecución de
															operaciones</li>
													</ul>
												</div>
											</li>
										</ul>
									</div>
									<div style="display:contents" dir="auto">
										<ul class="bulleted-list">
											<li style="list-style-type:disc">Documento separado</li>
										</ul>
									</div>
									<div style="display:contents" dir="auto">
										<ul class="bulleted-list">
											<li style="list-style-type:disc">Se conserva en expediente</li>
										</ul>
									</div>
									<div style="display:contents" dir="auto">
										<ul class="bulleted-list">
											<li style="list-style-type:disc">No elimina evaluación de perfil en
												servicios asesorados </li>
										</ul>
									</div>
									<div style="display:contents" dir="ltr">
										<figure class="block-color-gray_background callout"
											style="white-space:normal;display:flex">
											<div style="font-size:1.5em"><span class="icon">💡</span></div>
											<div style="width:100%">
												<div style="display:contents" dir="auto">
													<p class="">La entidad
														asume que el cliente <strong>no es calificado</strong> hasta que
														lo declare expresamente</p>
												</div>
											</div>
										</figure>
									</div>
								</div>
							</details>
						</div>
					</div>
				</details>
			</div>
			<div style="display:contents" dir="auto">
				<details close="">
					<summary style="font-weight:600;font-size:1.875em;line-height:1.3;margin:0">2. Evaluación del
						Cliente y del Producto</summary>
					<div class="indented">
						<div style="display:contents" dir="auto">
							<h2 class="">2.1 Perfil del Cliente</h2>
						</div>
						<div style="display:contents" dir="auto">
							<p class="">Evaluación del inversionista para
								determinar su capacidad, conocimiento y objetivos antes de recomendar inversiones</p>
						</div>
						<div style="display:contents" dir="auto">
							<h3 class="">Elementos para determinar el perfil
							</h3>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Situación financiera → capacidad económica para
									invertir</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Conocimientos y experiencia financiera → entendimiento
									del mercado y productos</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Objetivos de inversión → metas, horizonte y finalidad
								</li>
							</ul>
						</div>
						<div style="display:contents" dir="ltr">
							<figure class="block-color-gray_background callout" style="white-space:normal;display:flex">
								<div style="font-size:1.5em"><span class="icon">💡</span></div>
								<div style="width:100%">
									<div style="display:contents" dir="auto">
										<p class="">Si el cliente no acepta su
											perfil de inversion, el asesor debe comunicarlo al Comité de Análisis de
											Productos Financieros; no puede modificarlo por su cuenta. </p>
									</div>
								</div>
							</figure>
						</div>
						<div style="display:contents" dir="auto">
							<h3 class="">Obligaciones del Asesor / Entidad
							</h3>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="1">
								<li>No inducir respuestas del cliente</li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="2">
								<li>Formular preguntas claras y comprensibles </li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="3">
								<li>Documentar y conservar información </li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="4">
								<li>Evitar múltiples respuestas de la misma cuenta </li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="5">
								<li>Contar con personal capacitado en los sistemas</li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<hr />
						</div>
						<div style="display:contents" dir="auto">
							<h2 class="">2.2 Perfil del Producto Financiero
							</h2>
						</div>
						<div style="display:contents" dir="auto">
							<p class="">Evaluación de características del
								instrumento para determinar su compatibilidad con el cliente</p>
						</div>
						<div style="display:contents" dir="auto">
							<h3 class="">Elementos del perfil del producto
							</h3>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="1">
								<li>Necesidades de inversion que satisface </li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="2">
								<li>Objetivos y especificaciones del producto<div style="display:contents" dir="auto">
										<ol type="a" class="numbered-list" start="1">
											<li>Objetivos del producto ≠ objetivos del cliente</li>
										</ol>
									</div>
								</li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="3">
								<li>Riesgos asociados (crédito, liquidez, mercado y riesgos del subyacente) </li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="4">
								<li>Liquidez y mercado secundario </li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="5">
								<li>Situación financiera de la emisora contraparte </li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="6">
								<li>Volatilidad del precio</li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="7">
								<li>Costos de operación (comisiones y compensaciones)</li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="block-color-purple_background numbered-list" start="8">
								<li>Calidad de custodios, fiduciarios o garantes</li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="block-color-purple_background numbered-list" start="9">
								<li>Precio en función del riesgo</li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="10">
								<li>Características especiales (ej. IPO, índices bursátiles) </li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="11">
								<li>Prelación de pago en concurso mercantil </li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="12">
								<li>Información general del instrumento </li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<hr />
						</div>
						<div style="display:contents" dir="auto">
							<h2 class="">2.3 Razonabilidad de las
								Recomendaciones </h2>
						</div>
						<div style="display:contents" dir="auto">
							<h3 class="">Regla principal </h3>
						</div>
						<div style="display:contents" dir="auto">
							<p class="">Congruencia obligatoria</p>
						</div>
						<div style="display:contents" dir="ltr">
							<figure class="block-color-gray_background callout" style="white-space:normal;display:flex">
								<div style="font-size:1.5em"><span class="icon">💡</span></div>
								<div style="width:100%">
									<div style="display:contents" dir="auto">
										<p class="">Perfil del cliente ↔
											Perfil del producto </p>
									</div>
								</div>
							</figure>
						</div>
						<div style="display:contents" dir="auto">
							<h3 class="">Condiciones adicionales </h3>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Cumplir limites del comité de análisis de productos
								</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Respetar políticas de diversificación de cartera</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Evaluación de razonabilidad <strong>no garantiza
										rendimientos </strong></li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<h3 class="">Recomendaciones a cliente no
								institucionales ni sofisticados </h3>
						</div>
						<div style="display:contents" dir="auto">
							<p class="">Debe incluir: </p>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Justificación de la recomendación </li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Clases o categorías de valores recomendados</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Porcentajes máximos de inversion</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Criterios de diversificación aplicables </li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<hr />
						</div>
						<div style="display:contents" dir="auto">
							<h2 class="">2.4 Diversificación de Cartera </h2>
						</div>
						<div style="display:contents" dir="auto">
							<p class="">Las entidades deben contar con
								políticas para distribuir el riesgo en inversiones del cliente </p>
						</div>
						<div style="display:contents" dir="auto">
							<h3 class="">Obligaciones</h3>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="1">
								<li>Contar con políticas de diversificación según el perfil del cliente </li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="2">
								<li>Establecer limites máximos de inversión por valor, derivado, emisor o contraparte
								</li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="3">
								<li>Definir acciones cuando no se cumplan los limites y ajustar la cartera </li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<h3 class="">Objetivo de la diversificación</h3>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Reducir concentración de riesgo</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Mantener coherencia con perfil del cliente</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Controlar exposición a emisoras o instrumentos </li>
							</ul>
						</div>
					</div>
				</details>
			</div>
			<div style="display:contents" dir="auto">
				<details close="">
					<summary style="font-weight:600;font-size:1.875em;line-height:1.3;margin:0">3. Prestación de
						Servicios de Inversión </summary>
					<div class="indented">
						<div style="display:contents" dir="auto">
							<h2 class="">3.1 Asesoría de Inversiones </h2>
						</div>
						<div style="display:contents" dir="auto">
							<p class="">Recomendaciones personalizadas sobre
								valores o estrategias de inversion, basadas en el perfil del cliente para apoyar su toma
								de decisiones </p>
						</div>
						<div style="display:contents" dir="auto">
							<h3 class="">Obligaciones del Asesor</h3>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="1">
								<li>Conocer documentos de oferta y prospectos de los valores</li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="2">
								<li>Conocer disposiciones aplicable a servicios asesorados </li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="3">
								<li>Conocer perfil de los productos financieros </li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<h3 class="">Obligaciones de la Entidad</h3>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="1">
								<li>Capacitar al personal que proporcione asesoría </li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="2">
								<li>Comunicar oportunamente políticas internas y características de productos </li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<hr />
						</div>
						<div style="display:contents" dir="auto">
							<h2 class="">3.2 Gestión de Inversiones </h2>
						</div>
						<div style="display:contents" dir="auto">
							<p class="">Administración discrecional de la
								cartera donde la entidad o asesor toma decisiones de inversión por cuenta del cliente
								conforme a su perfil</p>
						</div>
						<div style="display:contents" dir="auto">
							<h3 class="">Marco General de Actuación (debe
								establecer)</h3>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="1">
								<li>Facultades y limites de discrecionalidad del gestor </li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="2">
								<li>Riesgos asociados a la gestión </li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="3">
								<li>Criterios para modificar discrecionalidad </li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="4">
								<li>Características de valores operables </li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="5">
								<li>Estrategias de inversión </li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="6">
								<li>Política de inversión (activa o pasiva) </li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="7">
								<li>Política de liquidez</li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="8">
								<li>Criterios de selección de valores </li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="9">
								<li>Actuación en alta volatilidad o incertidumbre </li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="10">
								<li>Tipo de operaciones autorizadas </li>
							</ol>
						</div>
						<div style="display:contents" dir="ltr">
							<figure class="block-color-gray_background callout" style="white-space:normal;display:flex">
								<div style="font-size:1.5em"><span class="icon">💡</span></div>
								<div style="width:100%">
									<div style="display:contents" dir="auto">
										<p class="">No incluye métricas
											especificas de riesgo, calificación crediticia ni comisiones, ya que forman
											parte del prospecto del instrumento</p>
									</div>
								</div>
							</figure>
						</div>
						<div style="display:contents" dir="auto">
							<h3 class="">Obligaciones para prestar el servicio
							</h3>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="1">
								<li>Formular marco general de actuación, obligatorio, modificable tras 6 meses (salvo
									comité) </li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="2">
								<li>Contar con revisión periódica del marco para su adecuación al cliente</li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="3">
								<li>Integrar el marco en documento separado firmado por el cliente</li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="4">
								<li>Establecer forma, términos y periodicidad de información al cliente</li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="5">
								<li>Determinar perfil cliente-producto y evaluar razonabilidad</li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="6">
								<li>Ajustarse a la política de diversificación de carteras</li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="7">
								<li>Acreditar capacidades técnicas del asesor</li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="8">
								<li>Conservar evidencia documental del servicio</li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<h3 class="">Estrategias estandarizadas</h3>
						</div>
						<div style="display:contents" dir="auto">
							<blockquote class="">Podrán ofrecerse a clientes
								con perfiles similares siempre que no afecten sus carteras individuales </blockquote>
						</div>
						<div style="display:contents" dir="auto">
							<hr />
						</div>
						<div style="display:contents" dir="auto">
							<h2 class="">3.3 Comercialización o Promoción
							</h2>
						</div>
						<div style="display:contents" dir="auto">
							<p class="">Recomendaciones generalizadas sobre
								valores o instrumentos sin considerar perfil especifico del cliente </p>
						</div>
						<div style="display:contents" dir="auto">
							<h3 class="">Información a proporcionar al cliente
							</h3>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="1">
								<li>Características del instrumento</li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="2">
								<li>Comisiones y compensaciones </li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="3">
								<li>Riesgos asociados</li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="4">
								<li>Beneficios potenciales </li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<h3 class="">Valores comercializables a clientes
								no sofisticados</h3>
						</div>
						<div style="display:contents" dir="ltr">
							<figure class="image"><a href="../assets/servicios-de-inversion/image-1.png"><img
										style="width:532.7750244140625px"
										src="../assets/servicios-de-inversion/image-1.png" /></a></figure>
						</div>
						<div style="display:contents" dir="auto">
							<hr />
						</div>
						<div style="display:contents" dir="auto">
							<h2 class="">3.4 Ejecución de Operaciones</h2>
						</div>
						<div style="display:contents" dir="auto">
							<p class="">Recepción, transmisión y ejecución de
								ordenes del cliente sin emitir recomendaciones personalizadas</p>
						</div>
						<div style="display:contents" dir="auto">
							<h3 class="">Información que debe proporcionarse
								al cliente</h3>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="1">
								<li>Informar que la operación no constituye recomendación </li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="2">
								<li>Verificar que el cliente conozca los riesgos</li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="3">
								<li>Señalar diferencias respecto a servicios asesorados</li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="4">
								<li>Informar responsabilidades del cliente</li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="5">
								<li>Documentar la instrucción del diente</li>
							</ol>
						</div>
						<div style="display:contents" dir="ltr">
							<figure class="block-color-gray_background callout" style="white-space:normal;display:flex">
								<div style="font-size:1.5em"><span class="icon">💡</span></div>
								<div style="width:100%">
									<div style="display:contents" dir="auto">
										<p class="">Si un cliente con
											ejecución de operaciones quiere recomendaciones personalizadas, debe
											cancelar ese contrato y contratar uno asesorado. No pueden coexistir </p>
									</div>
								</div>
							</figure>
						</div>
						<div style="display:contents" dir="auto">
							<hr />
						</div>
						<div style="display:contents" dir="auto">
							<h2 class="">3.5 Contratos de Servicios de
								Inversión</h2>
						</div>
						<div style="display:contents" dir="auto">
							<p class=""> Las entidades podrán celebrar
								contratos para la prestación de servicios de inversión, ya sean asesorados o no
								asesorados</p>
						</div>
						<div style="display:contents" dir="auto">
							<h3 class="">Obligaciones en la contratación </h3>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="1">
								<li>Identificar operaciones asesoradas vs instruidas por el cliente</li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="2">
								<li>Presumir la existencia de asesoría salvo prueba en contrario</li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="3">
								<li>Advertir cuando la instrucción no provenga de asesoría </li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="4">
								<li>Conservar evidencia documental de instrucciones del cliente </li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="5">
								<li>Otorgar la guía de servicios de inversión al cliente </li>
							</ol>
						</div>
					</div>
				</details>
			</div>
			<div style="display:contents" dir="auto">
				<details close="">
					<summary style="font-weight:600;font-size:1.875em;line-height:1.3;margin:0">4. Regulación,
						Obligaciones y Conducta </summary>
					<div class="indented">
						<div style="display:contents" dir="auto">
							<h2 class="">4.1 Obligaciones de Entidades y
								Asesores</h2>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="block-color-purple_background numbered-list" start="1">
								<li>Proporcionar a los clientes una guía de servicios de inversion clara y
									estandarizada, que explique los servicios ofrecidos, sus características y
									diferencias. </li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="2">
								<li>Revelar en la guía folio del asesor y el alcance de supervisión de la Comisión </li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="3">
								<li>Informar que el registro no garantiza cumplimiento ni veracidad</li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="4">
								<li>Señalar nombre y contacto del prestador del servicio </li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="5">
								<li>Implementar y difundir mecanismos internos de servicios</li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="6">
								<li>Documentar criterios de difusión de información</li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="7">
								<li>Mantener lista actualizada de tipo de clientes, cuentas y servicios</li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="8">
								<li>Registrar clientes referidos a entidades financieras del exterior</li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="9">
								<li>Emitir recomendaciones según perfil del cliente y producto por medios verificables
								</li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="10">
								<li>Conservar documentos, grabaciones e instrucciones en medios electrónicos o digitales
								</li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="block-color-purple_background numbered-list" start="11">
								<li>Conservar documentación contable mínimo 5 años</li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="12">
								<li>Asesores deben conservar recomendaciones e información de servicio mínimo 5 años
								</li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="13">
								<li>Obtener autorización del cliente para grabación de comunicaciones </li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="14">
								<li>Precisar en contrato el tipo de servicio prestado</li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="15">
								<li>Emitir comprobantes de operaciones realizadas</li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="block-color-purple_background numbered-list" start="16">
								<li>Entregar comprobantes a mas tardar el día hábil siguiente</li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="17">
								<li>Grabar o documentar toda comunicación con el cliente</li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="18">
								<li>Poner a disposición del cliente su expediente cuando lo solicite </li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<hr />
						</div>
						<div style="display:contents" dir="auto">
							<h2 class="">4.2 Prohibiciones </h2>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="1">
								<li>No celebrar contratos donde la entidad sea cotitular de cuentas del cliente</li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="2">
								<li>No emitir recomendaciones sin contrato de asesoría <div style="display:contents"
										dir="auto">
										<ol type="a" class="numbered-list" start="1">
											<li>Emitir opiniones personalizadas sobre productos financieros </li>
										</ol>
									</div>
									<div style="display:contents" dir="auto">
										<ol type="a" class="numbered-list" start="2">
											<li>Usar expresiones que induzcan decisiones de inversión</li>
										</ol>
									</div>
									<div style="display:contents" dir="auto">
										<ol type="a" class="numbered-list" start="3">
											<li>Presentar productos como mejor opción para el cliente </li>
										</ol>
									</div>
								</li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="3">
								<li>No operar por cuenta propia en ofertas publicas con ordenes pendientes de clientes
									sobre los mismos valores (salvo igualdad de condiciones o subastas especiales)</li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="4">
								<li>No asignar valores en ofertas publicas iniciales a precio distinto al de la oferta
									(salvo valores del Gobierno Federal)</li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<hr />
						</div>
						<div style="display:contents" dir="auto">
							<h2 class="">4.3 Conflictos de Interés</h2>
						</div>
						<div style="display:contents" dir="auto">
							<h3 class="">Presunción de conflicto </h3>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Recomendaciones u operaciones no acordes con el perfil
									del cliente </li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Proporcionar información falsa o engañosa </li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Obtención de beneficios o comisiones indebidas</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<h3 class="">Obligaciones en caso de no
								independencia</h3>
						</div>
						<div style="display:contents" dir="auto">
							<p class="">Diversificar entre clientes emisiones
								donde participen como colocadores o distribuidores</p>
						</div>
						<div style="display:contents" dir="auto">
							<h3 class="">Caso típico de conflicto</h3>
						</div>
						<div style="display:contents" dir="auto">
							<p class="">Recomendar instrumentos de emisoras
								del mismo grupo empresarial </p>
						</div>
						<div style="display:contents" dir="auto">
							<hr />
						</div>
						<div style="display:contents" dir="auto">
							<h2 class="">4.4 Conductas contrarias a sanas
								practicas</h2>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="1">
								<li>Proporcionar información falsa o engañosa (dolo o negligencia) </li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="2">
								<li>Actuar contra el interés del cliente</li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="3">
								<li>Manipular perfil del cliente o análisis del producto</li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="4">
								<li>No distinguir operaciones asesoradas de instrucciones del cliente</li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="5">
								<li>Incumplir políticas de diversificación de cartera </li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<hr />
						</div>
						<div style="display:contents" dir="auto">
							<h2 class="">4.5 Comisiones </h2>
						</div>
						<div style="display:contents" dir="auto">
							<h3 class="">Criterios de cobro</h3>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="block-color-purple_background numbered-list" start="1">
								<li>Cobrar solo comisiones convenidas con el cliente y por servicios efectivamente
									prestados </li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="2">
								<li>Contar con comité o responsable de aprobar criterios y modificaciones de comisiones
								</li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="3">
								<li>Documentar criterios objetivos de cobro</li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="4">
								<li>Especificar si la comisión es por asesoría o ejecución, y divulgarla en la guía de
									servicios</li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="5">
								<li>La divulgación debe incluir: <div style="display:contents" dir="auto">
										<ol type="a" class="numbered-list" start="1">
											<li>Forma de calculo</li>
										</ol>
									</div>
									<div style="display:contents" dir="auto">
										<ol type="a" class="numbered-list" start="2">
											<li>Conceptos de cobro</li>
										</ol>
									</div>
									<div style="display:contents" dir="auto">
										<ol type="a" class="numbered-list" start="3">
											<li>Limite máximo </li>
										</ol>
									</div>
									<div style="display:contents" dir="auto">
										<ol type="a" class="numbered-list" start="4">
											<li>Comisiones por distribución de acciones de fondos u otros servicios
												relacionados</li>
										</ol>
									</div>
								</li>
							</ol>
						</div>
						<div style="display:contents" dir="ltr">
							<figure class="block-color-gray_background callout" style="white-space:normal;display:flex">
								<div style="font-size:1.5em"><span class="icon">💡</span></div>
								<div style="width:100%">
									<div style="display:contents" dir="auto">
										<p class="">Las definen y aprueba el
											Comité de análisis de productos financieros</p>
									</div>
								</div>
							</figure>
						</div>
					</div>
				</details>
			</div>
		</div>
	</article><span class="sans" style="font-size:14px;padding-top:2em"></span>
</body>

</html>