<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Títulos de Deuda</title>
	<link rel="icon" type="image/png" href="../assets/icon.png" />
	<link rel="stylesheet" href="../style.css">
</head>

<body>
	<article class="page sans">
		<header><img class="page-cover-image" src="../assets/header.jpg" style="object-position:center 81.35%" />
			<div class="nav-button">
				<button onclick="window.history.back()">← Regresar</button>
			</div>
			<div class="page-header-icon page-header-icon-with-cover"><img class="icon" src="../assets/icon.png" />
			</div>
			<h1 class="page-title" dir="auto">Títulos de Deuda</h1>
			<p class="page-description" dir="auto"></p>
		</header>
		<div class="page-body">
			<div style="display:contents" dir="auto">
				<details close="">
					<summary style="font-weight:600;font-size:1.875em;line-height:1.3;margin:0">1. Conceptos básicos
					</summary>
					<div class="indented">
						<div style="display:contents" dir="auto">
							<p class=""><strong>Mercado de deuda (renta
									fija)</strong>: Mercado donde el gobierno federal, bancos y empresas obtienen
								financiamiento mediante la emisión de títulos de deuda.</p>
						</div>
						<div style="display:contents" dir="auto">
							<p class=""><strong>Mercado de dinero</strong>:
								Mercado donde se negocian instrumentos de alta liquidez, de muy corto plazo y riesgo
								mínimo, como CETES, PRLV y reportos</p>
						</div>
						<div style="display:contents" dir="ltr">
							<figure class="image"><a href="../assets/titulos-de-deuda/image.png"><img
										style="width:665.953125px" src="../assets/titulos-de-deuda/image.png" /></a>
							</figure>
						</div>
						<div style="display:contents" dir="auto">
							<h3 class="">Características</h3>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc"><strong>Plazo</strong>: corto</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc"><strong>Relacion</strong>: deudor-acreedor</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc"><strong>Rendimiento</strong>: por ganancias de capital
									e intereses</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc"><strong>Riesgo</strong>: muy bajo</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<h3 class="">Participantes</h3>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc"><strong>Emisores</strong>: gobiernos, bancos y empresas
								</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc"><strong>Intermediarios</strong>: Bando de México,
									bancos y casas de bolsa</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc"><strong>Inversionistas</strong>: público en general,
									institucionales y calificados</li>
							</ul>
						</div>
					</div>
				</details>
			</div>
			<div style="display:contents" dir="auto">
				<details close="">
					<summary style="font-weight:600;font-size:1.875em;line-height:1.3;margin:0">2. Tasas y referencias
						del mercado</summary>
					<div class="indented">
						<div style="display:contents" dir="auto">
							<h2 class="">2.1 Tipo de tasas</h2>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc"><strong>Tasa de rendimiento al vencimiento
										(YTM)</strong>: tasa que se paga al vencimiento del plazo</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc"><strong>Tasa cupón</strong>: tasa pagada en cada corte
									de cupón</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc"><strong>Sobretasa</strong>: tasa adicional a la
									establecida que hace más atractivo el instrumento</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc"><strong>Tasa flotante</strong>: tasa variable ligada a
									una <strong>tasa de referencia</strong>, mas un margen o spread<br />(<strong>Tasa
										variable + Sobretasa)</strong></li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<hr />
						</div>
						<div style="display:contents" dir="auto">
							<h2 class="">2.2 Tasas de referencia</h2>
						</div>
						<div style="display:contents" dir="ltr">
							<figure class="block-color-gray_background callout" style="white-space:normal;display:flex">
								<div style="font-size:1.5em"><span class="icon">💡</span></div>
								<div style="width:100%">
									<div style="display:contents" dir="auto">
										<p class="">Se usan para calcular
											intereses en bonos de tasa variable</p>
									</div>
								</div>
							</figure>
						</div>
						<div style="display:contents" dir="ltr">
							<figure class="block-color-gray_background callout" style="white-space:normal;display:flex">
								<div style="font-size:1.5em"><span class="icon">💡</span></div>
								<div style="width:100%">
									<div style="display:contents" dir="auto">
										<p class="">Todos los colaterales en
											estas operaciones están depositados en <strong>INDEVAL</strong></p>
									</div>
								</div>
							</figure>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc"><strong>TIIE de fondeo (overnight)<br /></strong>Tasa
									representativa de operaciones realizadas por banca y casas de bolsa, usando como
									colateral <strong>títulos de deuda</strong> emitidos por: <div
										style="display:contents" dir="auto">
										<ul class="bulleted-list">
											<li style="list-style-type:circle">Gobierno Federal</li>
										</ul>
									</div>
									<div style="display:contents" dir="auto">
										<ul class="bulleted-list">
											<li style="list-style-type:circle">IPAB</li>
										</ul>
									</div>
									<div style="display:contents" dir="auto">
										<ul class="bulleted-list">
											<li style="list-style-type:circle">Banco de México</li>
										</ul>
									</div>
								</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc"><strong>Tasa de fondeo bancario<br /></strong>Tasa
									representativa de operaciones realizadas por banca y casas de bolsa, usando como
									colateral <strong>instrumentos bancarios</strong></li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc"><strong>Tasa de fondeo gubernamental<br /></strong>Tasa
									representativa de operaciones realizadas por banca y casas de bolsa, usando como
									colateral<strong> instrumentos gubernamentales</strong></li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc"><strong>Tasa de CETES (libre de riesgo):
									</strong><br />Tasa que representa el rendimiento de un activo considerado
									<strong>100% seguro</strong>, por lo que es la tasa libre de riesgo en México<div
										style="display:contents" dir="auto">
										<ul class="bulleted-list">
											<li style="list-style-type:circle">Referenciada a <strong>CETES a 28
													días</strong> </li>
										</ul>
									</div>
									<div style="display:contents" dir="ltr">
										<figure class="block-color-purple_background callout"
											style="white-space:normal;display:flex">
											<div style="font-size:1.5em"><span class="icon">💡</span></div>
											<div style="width:100%">
												<div style="display:contents" dir="auto">
													<p class="">Se utiliza
														para valuar la deuda gubernamental mexicana</p>
												</div>
											</div>
										</figure>
									</div>
								</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<h3 class="">2.2.1 Orden de tasas de referencia
							</h3>
						</div>
						<div style="display:contents" dir="auto">
							<div class="column-list">
								<div style="display:contents" dir="auto">
									<div style="width:50%" class="column">
										<div style="display:contents" dir="auto">
											<h4 class="">Orden por riesgo de
												crédito</h4>
										</div>
										<div style="display:contents" dir="auto">
											<ol type="1" class="numbered-list" start="1">
												<li>Tasa de CETES (libre de riesgo)</li>
											</ol>
										</div>
										<div style="display:contents" dir="auto">
											<ol type="1" class="numbered-list" start="2">
												<li>Tasa de fondeo gubernamental</li>
											</ol>
										</div>
										<div style="display:contents" dir="auto">
											<ol type="1" class="numbered-list" start="3">
												<li>TIIE de fondeo (overnight)</li>
											</ol>
										</div>
										<div style="display:contents" dir="auto">
											<ol type="1" class="numbered-list" start="4">
												<li>Tasa de fondeo bancario</li>
											</ol>
										</div>
									</div>
								</div>
								<div style="display:contents" dir="auto">
									<div style="width:50%" class="column">
										<div style="display:contents" dir="auto">
											<h4 class="">Orden por riesgo de
												mercado</h4>
										</div>
										<div style="display:contents" dir="auto">
											<ol type="1" class="numbered-list" start="1">
												<li>Tasa de fondeo gubernamental</li>
											</ol>
										</div>
										<div style="display:contents" dir="auto">
											<ol type="1" class="numbered-list" start="2">
												<li>TIIE de fondeo (overnight)</li>
											</ol>
										</div>
										<div style="display:contents" dir="auto">
											<ol type="1" class="numbered-list" start="3">
												<li>Tasa de CETES (libre de riesgo)</li>
											</ol>
										</div>
										<div style="display:contents" dir="auto">
											<ol type="1" class="numbered-list" start="4">
												<li>Tasa de fondeo bancario</li>
											</ol>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</details>
			</div>
			<div style="display:contents" dir="auto">
				<details close="">
					<summary style="font-weight:600;font-size:1.875em;line-height:1.3;margin:0">3. Tipo de cambio y UDIS
					</summary>
					<div class="indented">
						<div style="display:contents" dir="auto">
							<h2 class="">3.1 Tipos de cambio</h2>
						</div>
						<div style="display:contents" dir="auto">
							<p class=""><strong>Tipo de cambio
									FIX</strong><br />Tipo de cambio determinado por Banxico con base en un promedio de
								4 cotizaciones; sirve para solventar obligaciones en dólares al <strong>mayoreo
								</strong>en México. Banxico lo da a conocer a partir de las 12:00 y se publica en el
								DOF. </p>
						</div>
						<div style="display:contents" dir="auto">
							<p class=""><strong>Tipo de cambio
									spot<br /></strong>Tipo de cambio calculado al momento, derivado de la oferta y la
								demanda; se usa para solventar operaciones al <strong>menudeo</strong></p>
						</div>
						<div style="display:contents" dir="auto">
							<p class=""><strong>Tipo de cambio de cierre de
									jornada</strong><br />Tipo de cambio publicado por Banxico al cierre del día; se
								calcula con un promedio ponderado de cotizaciones entre 1:55 y 2:05 pm y se da a conocer
								a las 14:10 horas</p>
						</div>
						<div style="display:contents" dir="ltr">
							<figure class="block-color-gray_background callout" style="white-space:normal;display:flex">
								<div style="font-size:1.5em"><span class="icon">💡</span></div>
								<div style="width:100%">
									<div style="display:contents" dir="auto">
										<p class="">Todos los tipos de cambio
											se liquidan/publican a <strong>T+2</strong> (segundo día hábil)</p>
									</div>
								</div>
							</figure>
						</div>
						<div style="display:contents" dir="auto">
							<hr />
						</div>
						<div style="display:contents" dir="auto">
							<h2 class="">3.2 UDI (Unidad de inversión) </h2>
						</div>
						<div style="display:contents" dir="auto">
							<p class=""><strong>UDI</strong>: Unidad de valor
								establecida por Banxico que se basa en la inflación y se usa para obligaciones como
								créditos hipotecarios y actos mercantiles; esta referenciada a un tasa real</p>
						</div>
					</div>
				</details>
			</div>
			<div style="display:contents" dir="auto">
				<details close="">
					<summary style="font-weight:600;font-size:1.875em;line-height:1.3;margin:0">4. Tipos de bonos
					</summary>
					<div class="indented">
						<div style="display:contents" dir="auto">
							<p class=""><strong>Bono cupón
									cero</strong><br />No paga intereses durante su vida; se compra por debajo de su
								valor nominal y se considera libre de riesgo, como CETES</p>
						</div>
						<div style="display:contents" dir="auto">
							<p class=""><strong>Bono a tasa
									fija</strong><br />Paga la misma tasa durante toda su vida; la tasa se fija desde el
								inicio del plazo</p>
						</div>
						<div style="display:contents" dir="auto">
							<p class=""><strong>Bono a tasa variable
									(revisable)</strong><br />El cupón se pacta con base en una o más tasas de
								referencia</p>
						</div>
						<div style="display:contents" dir="auto">
							<p class=""><strong>Bono a tasa
									flotante</strong><br />Paga una tasa variable o de referencia más una prima
								adicional o sobretasa</p>
						</div>
						<div style="display:contents" dir="auto">
							<p class=""><strong>Bono
									amortizable</strong><br />Va devolviendo parte del capital prestado en cuotas</p>
						</div>
						<div style="display:contents" dir="auto">
							<p class=""><strong>Bono con pago de capital al
									vencimiento (bullet)</strong><br />El emisor devuelve el capital más intereses en su
								totalidad al vencimiento</p>
						</div>
					</div>
				</details>
			</div>
			<div style="display:contents" dir="auto">
				<details close="">
					<summary style="font-weight:600;font-size:1.875em;line-height:1.3;margin:0">5. Instrumentos de deuda
						por emisor</summary>
					<div class="indented">
						<div style="display:contents" dir="auto">
							<h2 class="">5.1 Deuda gubernamental</h2>
						</div>
						<div style="display:contents" dir="ltr">
							<figure class="image"><a href="../assets/titulos-de-deuda/image-1.png"><img
										style="width:665.984375px" src="../assets/titulos-de-deuda/image-1.png" /></a>
							</figure>
						</div>
						<div style="display:contents" dir="auto">
							<hr />
						</div>
						<div style="display:contents" dir="auto">
							<h2 class="">5.2 Deuda bancaria</h2>
						</div>
						<div style="display:contents" dir="ltr">
							<figure class="image"><a href="../assets/titulos-de-deuda/image-2.png"><img
										style="width:768px" src="../assets/titulos-de-deuda/image-2.png" /></a></figure>
						</div>
						<div style="display:contents" dir="auto">
							<hr />
						</div>
						<div style="display:contents" dir="auto">
							<h2 class="">5.3 Deuda corporativa</h2>
						</div>
						<div style="display:contents" dir="ltr">
							<figure class="image"><a href="../assets/titulos-de-deuda/image-5.png"><img
										style="width:672px" src="../assets/titulos-de-deuda/image-5.png" /></a></figure>
						</div>
						<div style="display:contents" dir="auto">
							<hr />
						</div>
						<div style="display:contents" dir="auto">
							<h2 class="">5.4 Obligaciones</h2>
						</div>
						<div style="display:contents" dir="auto">
							<p class=""><strong>Obligaciones</strong>: Títulos
								de crédito nominativos que representan una deuda para el emisor y un crédito para el
								inversionista</p>
						</div>
						<div style="display:contents" dir="auto">
							<blockquote class="">Generalmente se utilizan para
								financiar proyectos de largo plazo de la emisora</blockquote>
						</div>
						<div style="display:contents" dir="auto">
							<h3 class="">Tipos de obligaciones</h3>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc"><strong>Obligaciones
										hipotecarias<br /></strong>Garantizadas por bienes inmuebles (terrenos,
									edificios)</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc"><strong>Obligaciones
										prendarias<br /></strong>Garantizadas por bienes muebles, que sirven como
									respaldo al inversionista (maquinaria, vehículos o equipo)</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc"><strong>Obligaciones quirografarias<br /></strong>No
									tienen garantía especifica, dependen de la solvencia y prestigio del emisor</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc"><strong>Obligaciones
										convertibles<br /></strong>Permiten convertir la obligación en acciones del
									mismo emisor bajo condiciones establecidas</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc"><strong>Obligaciones subordinadas<br /></strong>Valores
									de renta fija con mayor rendimiento, pero con menor prioridad de pago frente a otros
									acreedores</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<hr />
						</div>
						<div style="display:contents" dir="auto">
							<h2 class="">5.5 BORHIS (Bonos respaldados por
								hipotecas)</h2>
						</div>
						<div style="display:contents" dir="auto">
							<p class=""><strong>BORHIS</strong>: Instrumentos
								de deuda creados al agrupar hipotecas en un fideicomisa que emite títulos al publico</p>
						</div>
						<div style="display:contents" dir="auto">
							<h3 class="">Características</h3>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc"><strong>Oferta publica</strong> con garantía
									hipotecaria</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Mínimo <strong>dos calificaciones AAA</strong></li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Su valor depende de <strong>tasas de interés</strong>
								</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Puede <strong>variar en mercado</strong> aunque tenga
									respaldo</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Tiene <strong>administrador sustituto</strong></li>
							</ul>
						</div>
					</div>
				</details>
			</div>
			<div style="display:contents" dir="auto">
				<details close="">
					<summary style="font-weight:600;font-size:1.875em;line-height:1.3;margin:0">6. Subasta de valores
						gubernamentales</summary>
					<div class="indented">
						<div style="display:contents" dir="auto">
							<p class=""><strong>Subasta</strong>: Mecanismo
								usado tradicionalmente para la colocación primaria de valores gubernamentales</p>
						</div>
						<div style="display:contents" dir="auto">
							<h2 class="">Horarios clave</h2>
						</div>
						<div style="display:contents" dir="ltr">
							<figure class="image"><a href="../assets/titulos-de-deuda/image-3.png"><img
										style="width:665.953125px" src="../assets/titulos-de-deuda/image-3.png" /></a>
							</figure>
						</div>
						<div style="display:contents" dir="auto">
							<hr />
						</div>
						<div style="display:contents" dir="auto">
							<h2 class="">Tipos de subasta</h2>
						</div>
						<div style="display:contents" dir="auto">
							<h4 class="">Subasta a tasa o precio único:</h4>
						</div>
						<div style="display:contents" dir="auto">
							<p class="">Los valores se asignan empezando por
								las <strong>mejores posturas para el gobierno</strong></p>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Todos los participantes ganadores reciben la misma tasa
									o precio</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Esa tasa o precio es el de la última postura aceptada
								</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<blockquote class="">Todos ganan → <strong>mismo
									precio / misma tasa</strong></blockquote>
						</div>
						<div style="display:contents" dir="auto">
							<h4 class="">Subasta a tasa o precio múltiple:
							</h4>
						</div>
						<div style="display:contents" dir="auto">
							<p class="">Los valores se asignan también
								empezando por las <strong>mejores posturas</strong></p>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Cada participante ganador recibe la tasa o precio que
									el mismo ofreció</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Al final se calcula un <strong>promedio
										ponderado</strong> con las posturas asignadas</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<blockquote class="">Cada quien gana → <strong>al
									precio/tasa que ofertó</strong></blockquote>
						</div>
						<div style="display:contents" dir="auto">
							<hr />
						</div>
						<div style="display:contents" dir="auto">
							<h2 class="">Modalidades de subasta</h2>
						</div>
						<div style="display:contents" dir="auto">
							<h4 class="">Subasta interactiva:</h4>
						</div>
						<div style="display:contents" dir="auto">
							<p class="">Permite ver en tiempo real el
								<strong>precio o tasa </strong>al que se esta colocando la subasta
							</p>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Los participantes pueden <strong>modificar/mejorar
									</strong>posturas</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Solo pueden hacerlo <strong>mientras la subasta esté
										abierta</strong></li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<h4 class="">Subasta tradicional o cerrada:</h4>
						</div>
						<div style="display:contents" dir="auto">
							<p class="">El <strong>precio o tasa final NO se
									conoce</strong> hasta que termine la subasta</p>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">No puedes ajustar tu postura después de enviarla</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Todo se defina <strong>hasta el cierre</strong></li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<h4 class="">Subasta sindicada:</h4>
						</div>
						<div style="display:contents" dir="auto">
							<p class="">Método donde los inversionistas
								participan <strong>a través de distribuidores</strong></p>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Las posturas deben ser a una <strong>tasa ≤ tasa máxima
										anunciada</strong></li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">La tasa se expresa en <strong>puntos base
										(centésimas</strong>, ej. 5.25%)</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Se usa como complemento a las subastas tradicionales
								</li>
							</ul>
						</div>
					</div>
				</details>
			</div>
			<div style="display:contents" dir="auto">
				<details close="">
					<summary style="font-weight:600;font-size:1.875em;line-height:1.3;margin:0">7. Operaciones del
						mercado de deuda</summary>
					<div class="indented">
						<div style="display:contents" dir="auto">
							<h2 class="">7.1 Operaciones en directo</h2>
						</div>
						<div style="display:contents" dir="auto">
							<p class=""><strong>Operación en directo</strong>:
								El inversionista compra un título de deuda por medio de un intermediario y se vuelve
								dueño del titulo hasta el vencimiento si asi lo desea</p>
						</div>
						<div style="display:contents" dir="auto">
							<hr />
						</div>
						<div style="display:contents" dir="auto">
							<h2 class="">7.2 Reporto</h2>
						</div>
						<div style="display:contents" dir="auto">
							<p class=""><strong>Reporto</strong>: Operación en
								la que el reportador da liquidez al reportado; el reportado deja títulos en garantía y
								paga un premio, y el reportador devuelve los títulos al vencimiento </p>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc"><strong>Reportado</strong>: recibe liquidez y paga el
									premio</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc"><strong>Reportador</strong>: brinda liquidez y recibe
									le premio</li>
							</ul>
						</div>
						<div style="display:contents" dir="ltr">
							<figure class="block-color-gray_background callout" style="white-space:normal;display:flex">
								<div style="font-size:1.5em"><span class="icon">💡</span></div>
								<div style="width:100%">
									<div style="display:contents" dir="auto">
										<p class="">Instrumento clásico de
											financiamiento de corto plazo en el mercado de dinero</p>
									</div>
								</div>
							</figure>
						</div>
						<div style="display:contents" dir="auto">
							<h3 class="">Tipos de reporto</h3>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc"><strong>Reporto abierto (open repo):<br /></strong>Sin
									fecha fija; cualquiera puede terminarlo con aviso. Máximo <strong>2 dias
										hábiles</strong>.</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc"><strong>Reporto siempre vigente (evergreen
										repo):<br /></strong>Se renueva automáticamente; puede cancelarse con previo
									aviso.</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc"><strong>Reporto con inicio diferido (forward starting
										repo):<br /></strong>La entrega ocurre <strong>después del cuarto día
										hábil</strong>; sin plazo máximo.</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<h3 class="">Valores elegibles</h3>
						</div>
						<div style="display:contents" dir="ltr">
							<figure class="image"><a href="../assets/titulos-de-deuda/image-4.png"><img
										style="width:665.984375px" src="../assets/titulos-de-deuda/image-4.png" /></a>
							</figure>
						</div>
						<div style="display:contents" dir="auto">
							<h4 class="">Requisitos</h4>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="1">
								<li>Alta liquidez</li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="2">
								<li>Estar registrados en el <strong>RNV</strong></li>
							</ol>
						</div>
						<div style="display:contents" dir="auto">
							<ol type="1" class="numbered-list" start="3">
								<li>Alta calificación crediticia</li>
							</ol>
						</div>
						<div style="display:contents" dir="ltr">
							<figure class="block-color-gray_background callout" style="white-space:normal;display:flex">
								<div style="font-size:1.5em"><span class="icon">💡</span></div>
								<div style="width:100%">
									<div style="display:contents" dir="auto">
										<p class=""><strong>No
												elegibles</strong>:<br />Divisas, derivados y renta variable (acciones)
										</p>
									</div>
								</div>
							</figure>
						</div>
						<div style="display:contents" dir="auto">
							<hr />
						</div>
						<div style="display:contents" dir="auto">
							<h2 class="">7.3 Préstamo de valores</h2>
						</div>
						<div style="display:contents" dir="auto">
							<p class=""><strong>Préstamo de valores</strong>:
								Operación donde el prestamista transfiere valores al prestatario, quien se compromete a
								devolverlos al vencimiento con un precio, del mismo emisor, valor nominal, serie y
								vencimiento.</p>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc"><strong>Prestamista</strong>: Transfiere los valores y
									recibe un premio</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc"><strong>Prestatario</strong>: Solicita los valores, los
									devuelve + premio y realiza venta en corto</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc"><strong>Tasa premio</strong>: Beneficio que recibe el
									prestamista</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<h4 class="">Sujetos</h4>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Prestamista: BANXICO, fondos de inversion y SIEFORES
								</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Prestatario: Bancos, casas de bolsa y otras
									instituciones financieras</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Las instituciones solo administran el sistema, no
									operan por cuenta propia</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<h4 class="">Valores elegibles</h4>
						</div>
						<div style="display:contents" dir="auto">
							<p class="">Cualquier valor inscrito en el
								<strong>RNV o SIC</strong> y depositado en el <strong>INDEVAL</strong>
							</p>
						</div>
					</div>
				</details>
			</div>
			<div style="display:contents" dir="auto">
				<details close="">
					<summary style="font-weight:600;font-size:1.875em;line-height:1.3;margin:0">8. Operaciones del Banco
						de México</summary>
					<div class="indented">
						<div style="display:contents" dir="auto">
							<h2 class="">8.1 Permuta de valores</h2>
						</div>
						<div style="display:contents" dir="auto">
							<p class=""><strong>Permuta de valores</strong>:
								Operación financiera donde le gobierno <strong>intercambia valores por otros con
									diferentes características.</strong></p>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Es un instrumento de manejo de deuda interna</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">No se utiliza para dar liquidez</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Su objetivo es <strong>refinanciar el costo de la
										deuda</strong></li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<hr />
						</div>
						<div style="display:contents" dir="auto">
							<h2 class="">8.2 Política monetaria</h2>
						</div>
						<div style="display:contents" dir="auto">
							<p class=""><strong>Política monetaria</strong>:
								Acciones del banco central para administrar la cantidad de dinero y crédito en la
								economía a mediano y largo plazo. </p>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc"><strong>Expansiva:</strong>
									<div style="display:contents" dir="auto">
										<ul class="bulleted-list">
											<li style="list-style-type:circle">Disminuye la tasa de interés</li>
										</ul>
									</div>
									<div style="display:contents" dir="auto">
										<ul class="bulleted-list">
											<li style="list-style-type:circle">Incentiva el consumo</li>
										</ul>
									</div>
									<div style="display:contents" dir="auto">
										<ul class="bulleted-list">
											<li style="list-style-type:circle"><strong>Ingresa dinero al país</strong>
											</li>
										</ul>
									</div>
								</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc"><strong>Restrictiva:</strong>
									<div style="display:contents" dir="auto">
										<ul class="bulleted-list">
											<li style="list-style-type:circle">Incrementa la tasa de interés</li>
										</ul>
									</div>
									<div style="display:contents" dir="auto">
										<ul class="bulleted-list">
											<li style="list-style-type:circle">Incentiva la inversion</li>
										</ul>
									</div>
									<div style="display:contents" dir="auto">
										<ul class="bulleted-list">
											<li style="list-style-type:circle">Retira dinero del país</li>
										</ul>
									</div>
									<div style="display:contents" dir="auto">
										<ul class="bulleted-list">
											<li style="list-style-type:circle"><strong>Controla la inflación</strong>
											</li>
										</ul>
									</div>
								</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<hr />
						</div>
						<div style="display:contents" dir="auto">
							<h2 class="">8.3 Operaciones de mercado abierto
								(OMAs)</h2>
						</div>
						<div style="display:contents" dir="auto">
							<p class=""><strong>OMAs</strong>: Principal
								instrumento que utiliza el Banco de Mexico para <strong>administrar la liquidez de corto
									plazo</strong>.</p>
						</div>
						<div style="display:contents" dir="auto">
							<h3 class="">Operaciones de crédito</h3>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc"><strong>Inyectan liquidez</strong></li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Se realizan mediante:<div style="display:contents"
										dir="auto">
										<ul class="bulleted-list">
											<li style="list-style-type:circle">Subasta de crédito</li>
										</ul>
									</div>
									<div style="display:contents" dir="auto">
										<ul class="bulleted-list">
											<li style="list-style-type:circle">Compra de valores</li>
										</ul>
									</div>
								</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Se utilizan para <strong>incentivar el consumo o el
										PIB</strong></li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<h3 class="">Operaciones de depósito</h3>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc"><strong>Retiran liquidez</strong></li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Se realizan mediante:<div style="display:contents"
										dir="auto">
										<ul class="bulleted-list">
											<li style="list-style-type:circle">Subasta de depósitos</li>
										</ul>
									</div>
									<div style="display:contents" dir="auto">
										<ul class="bulleted-list">
											<li style="list-style-type:circle">Venta de valores</li>
										</ul>
									</div>
								</li>
							</ul>
						</div>
						<div style="display:contents" dir="auto">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Se utilizan para <strong>estabilizar precios o la
										inflación</strong></li>
							</ul>
						</div>
					</div>
				</details>
			</div>
		</div>
	</article><span class="sans" style="font-size:14px;padding-top:2em"></span>
</body>

</html>